[2016-07-09 09:38] bluca commented on #780
@FadeMind that's great to know, we've backported those changes in Debian and Ubuntu too. Thanks for you work!

@eugenbalintescu is everything working ok now after fixing acpid?

[2016-07-09 09:50] eugenbalintescu commented on #780
I am sorry but no. It didn't change anything. I tried to explain earlier.

Please look here: http://pastebin.com/vhdfSUMm
I start optirun glxgears right after reboot and it works. I close it and start again, it doesn't work anymore. And acpid.service is started.

[2016-07-09 10:02] FadeMind commented on #780
Did you closing terminal window for turn off iGPU?
Paste
[code]
and
[code]
lastest lines (begin on turn on nvidia GPU).

[2016-07-09 10:10] karolherbst commented on #781
primusrun only changes the OpenGL stuff, nothing else

[2016-07-09 10:13] eugenbalintescu commented on #780
I use yakuake but I used the quit button. Still the same.

lsmod: http://pastebin.com/EY82Rs4k
dmesg: http://pastebin.com/XaMp1mNB

[2016-07-09 10:26] FadeMind commented on #780
So, this is segfault and memory leak due Xorg + bbswitch + kernel issue...
[code]
BUT it is weird.

[2016-07-09 10:27] FadeMind commented on #780
OK, now boot for GOOD working kernel and paste full dmesg and other usefull logs (Xorg.8.log, lsmod, primusrun, optirun etc) for compare. Thanks.

[2016-07-09 10:56] eugenbalintescu commented on #780
I booted kernel 4.1.

optirun: http://pastebin.com/LS0sfi2n
primusrun: http://pastebin.com/Pp3MnzSv
dmesg: http://pastebin.com/xmR6ibdd
Xorg.8.log: http://pastebin.com/U7uEgtWC
lsmod: http://pastebin.com/7qbaMync

[2016-07-10 06:17] eugenbalintescu commented on #780
I found this on the arch forum:
https://bbs.archlinux.org/viewtopic.php?id=211359
Could this be a similar problem?

[2016-07-10 10:10] bluca commented on #780
No we use libkmod now, there's no direct reference to the individual kernel modules in the code.

The issue looks like to be a kernel oops when trying to unload the modules. Given the only variable is the kernel version, I'm quite confident is has nothing to do with bumblebee. Since this problem does not happen on Debian/Ubuntu with the same kernel versions, my guess would be in the direction of a

[2016-07-10 12:06] sylvio-neto commented on #764
Same thing here:
1 - GDM + Wayland starts without any freeze
2 - Starting X with "tee /proc/acpi/bbswitch  <<<ON" solves the problem
3 - Starting X without that command freezes with a hard lock;
4 - No logs in any output, just hard reset.
5 - Linux arch 4.6.3-1-ARCH #1 SMP PREEMPT Fri Jun 24 21:19:13 CEST 2016 x86_64 GNU/Linux
6 - SchenkerXMG P506 (clevo) = Nvidia GTX 970 + Intel Skylake
7 - Intel

[2016-07-10 14:37] travnick opened #782 "[ERROR]Cannot access secondary GPU - error: X unresponsive after 10 seconds - aborting"
optiruns fail to start any application.
The secondary Xorg starts properly and works: (after some changes in config) on second monitor I see running xterm `DISPLAY=:8 xterm`

[code]

[code]

[2016-07-10 15:42] bluca commented on #782
Please upload the bumblebee conf and system logs to a gist/pastebin, and report the version of the nvidia drivers and the kernel.

[2016-07-11 03:53] smdrz commented on #769
mesa 12.0 now has glvnd support, hope it solves some problems

[2016-07-11 22:52] travnick commented on #782
nvidia 367.27-1
Linux travnick-pc 4.6.3-1-ARCH #1 SMP PREEMPT Fri Jun 24 21:19:13 CEST 2016 x86_64 GNU/Linux

https://gist.github.com/travnick/54aec2782ec0787a6b36660b7ec39abc

[2016-07-12 12:17] Zipristin commented on #764
Thanks @Lekensteyn ! I have a Clevo P650RE6 with a 970m. Booting with `acpi_osi="!Windows 2015"` was the thing that fixed the freezes and hard-locks for me with bumblebee. After months of headaches now I'm able to use my laptop without ubuntu's prime or windows 10. My laptop has the latest bios.

I tried it and I've been playing Talos Principle with primusrun using a Manjaro Live usb (Manjaro come

[2016-07-13 02:40] jgkamat commented on #764
@Zipristin That fixed it for me too! You are officially the best person on the internet! :smile:

I don't really have any idea how this works, but it would be nice if this could somehow be worked around within bumblebee (but I don't have high hopes, because this is a kernel option). As of now, the ubuntu 16.04 live disk hard locks for me due to this (in default mode).

(as a side note, running `nv

[2016-07-13 03:21] ehingant opened #783 "[SOLVED] On a segfault error in libGL.so"
Hello every body,

# Context
 I am trying to use bumblebee/optirun on my laptop using debian jessie (3.16.0-4-amd64). My laptop possess a Nvidia Geforce 920M card. I installed everything as it is mentioned in the debian [wiki](https://wiki.debian.org/Bumblebee) except that I update the nvidia-driver with the jessie-backports, because the one in the stable repository does not support the card. Well

[2016-07-13 05:19] tonatiuhmira opened #784 "Primusrun broken: X Error of failed request: GLXBadFBConfig"
openSUSE Tumbleweed 20160625 (x86_64)
Kernel 4.6.3
GeForce GT 630M
nvidia-bumblebee-367.27 (from [X11:Bumblebee Repo](https://build.opensuse.org/package/show?project=X11%3ABumblebee&package=nvidia-bumblebee))

Since the upgrade to kernel 4.6.3, I'm getting the following with primusrun:
$ primusrun glxspheres
Polygons in scene: 62464 (61 spheres * 1024 polys/spheres)
Visual ID of window: 0xb4
Conte

[2016-07-13 08:08] bluca commented on #783
Did you install everything from backports, including bumblebee and all its dependencies?

Please upload to gist/pastebin the result of:

reportbug --template nvidia-driver

[2016-07-13 09:14] ehingant commented on #783
Hi! Yes everything was update with the backports, bumblebee-nvidia, and many stuffs.
Here is the result you asked. I hope it could held :)
https://gist.github.com/ehingant/a772c706ebe829d9f1f4a9785727e1dd

[2016-07-13 09:22] bluca commented on #783
nvidia-modprobe and nvidia-support were not installed from backports, please upgrade them (unrelated to this issue).

Also, did you install/upgrade the packages separately? update-alternative is pointing to the wrong glx implementation.
To fix it, run:

`sudo update-glx --config glx`

And select "/usr/lib/nvidia/bumblebee" and then try again.

[2016-07-13 09:30] ehingant commented on #783
Imade the updates. The other packages where updated all together when I install the nvidia-driver from the backports.

Ifix the config of glx. But nothing new :/ Here is the result of reportbug updated: https://gist.github.com/ehingant/a772c706ebe829d9f1f4a9785727e1dd

Thanks for your help

[2016-07-13 09:40] bluca commented on #783
Did you reboot after installing the nvidia-driver?

Also the bumblebee config has a different value for kernel modules from what we ship in backports, you can fix it by changing:

[code]

And then restart bumblebeed (sudo systemctl restart bumblebeed).

If the problem persists, please enable debug (edit /lib/systemd/system/bumblebeed.service and add `--debug` to the bumblebeed ExecStart line) and

[2016-07-13 09:58] ehingant commented on #783
I follow yours recommendations but the problem persists. Here is the logs:

[ 3113.014342] [DEBUG]Reading file: /etc/bumblebee/bumblebee.conf
[ 3113.014621] [INFO]Configured driver: nvidia
[ 3113.014738] [DEBUG]optirun version 3.2.1 starting...
[ 3113.014752] [DEBUG]Active configuration:
[ 3113.014760] [DEBUG] bumblebeed config file: /etc/bumblebee/bumblebee.conf
[ 3113.014769] [DEBUG] X display:

[2016-07-13 10:11] bluca commented on #783
Nothing looks wrong in the optirun debug, but sorry, forgot that you have to run:

`sudo systemctl daemon-reload`

Before restarting bumblebeed. The bumblebeed log will be quite large, please upload to gist/pastebin.

[2016-07-13 10:49] ehingant commented on #783
After a reboot, I launch again optirun Here is the log: https://gist.github.com/ehingant/ab146bde86eff6b352a55b6a9cc269aa
:(

[2016-07-13 10:56] bluca commented on #783
The output there looks good too, all the right modules are being loaded. I'm a bit baffled.

Can you try to run glxgears via gdb to get a backtrace? `gdb --arg optirun glxgears` then type `run` and when it crashes type `bt full`

Also, have you tried any other GL/GLX program? Also have you tried to run glxgears without optirun?

[2016-07-13 11:07] ehingant commented on #783
Thanks a lot for helping me, I am totally baffled too, but the reason is I dont understand nothing in those stuff :D Well, glxgears works well without optirun and gdb gives:

GNU gdb (Debian 7.7.1+dfsg-5) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribut

[2016-07-13 11:09] bluca commented on #783
Sorry, try the other way around:

`optirun gdb glxgears`

[2016-07-13 11:20] ehingant commented on #783
We have now:

Starting program: /usr/bin/glxgears
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffec5d4700 (LWP 5275)]
[New Thread 0x7fffebdd3700 (LWP 5276)]
[New Thread 0x7fffeb5d2700 (LWP 5277)]
[New Thread 0x7fffeadd1700 (LWP 5278)]
[New Thread 0x7fffea398700 (LWP 5279)]
[New Thread 0x7fffe9b97700 (LWP 52

[2016-07-13 12:24] bluca commented on #783
It's failing to create the context, I really don't know why would that be sorry.

But there's something else you can try, which is to use the newer version of primus.

Warning: installing packages from testing/unstable is not supported and might lead to problems, in general. In this case it should be pretty safe. When I have time I'll do a backports, but it will take a while.

You can try to insta

[2016-07-13 12:40] ehingant commented on #783
Thanks a lot Luca! Well, I will not try this solution for now, I have just one laptop, and I have to make a live usb and a backup before that, because I remember some unpleasant experience doing that :D Maybe in few days and I will keep you in touch.

Thanks, E.

[2016-07-13 12:53] bluca commented on #783
@Lekensteyn @ArchangeGabriel @amonakov any idea why glXCreateContext might fail with primus? The kernel modules and glx loadings all look good

[2016-07-14 02:38] E-Berry commented on #784
Confirming this issue

**Distro:** openSUSE Tumbleweed KDE 64 bits
**Kernel:** 4.6.3-1-default

**Manufacturer and Model:**
baseboard-manufacturer: LENOVO
baseboard-product-name: INVALID
baseboard-version     : 31900004Std
system-manufacturer   : LENOVO
system-product-name   : 20244
system-version        : Lenovo G400s
bios-vendor           : LENOVO
bios-version          : 7BCN36WW(V2.02)
bios-rel

[2016-07-14 07:24] ehingant commented on #783
Hi, some news! I found some people pointing out that the problem can be linked to the following result

OpenGL renderer string: Gallium 0.4 on llvmpipe (LLVM 3.5, 256 bits)

That openGL render string do not point on the GPU... I just found on guy that solves the problem reinstalling the whole system :( Could it be that problem?

E.

[2016-07-14 07:41] bluca commented on #783
If you don't run it through optirun then it will go through the Intel card and whatever rendering it's using, so that's normal. You should be getting hardware acceleration though, so you might want to install xserver-xorg-video-intel from backports.

Reinstalling the system won't do anything, Debian is not windows :-)

[2016-07-14 07:43] bluca commented on #784
Is this a problem only with the newer drivers? Does it happen with older ones?

[2016-07-14 08:00] ehingant commented on #783
Yep I surely will not reinstall it :D I just see that, I wa writting a message :) It works well with optirun glxinfo, it says Nvidia Geforce blabala, I am a bit tired today!

[2016-07-14 08:07] ehingant commented on #783
PROBLEM SOLVED!  Many  thanks Luca, I reinstalled the backport version of xserver-xorg-video-intel ... I will waste my time on x-plan 10 now :D

[2016-07-14 09:22] bluca commented on #783
Good! Closing the issue then.

[2016-07-14 09:22] #783 closed

[2016-07-14 11:15] Zipristin commented on #764
@jgkamat Booting default ubuntu 16.04 live freezes for me if I boot without `nouveau.modeset=0`.  My boot options are  `nouveau.modeset=0 acpi_osi=Linux acpi_osi="!Windows 2015" `

I would like to know too how this acpi_osi option really works but anyway it looks a bios/firmware bug in the laptop more than a bumblebee bug.

[2016-07-14 16:39] E-Berry commented on #784
Hello
Thanks for your time

---
**Distro:** openSUSE Tumbleweed KDE 64 bits
**Kernel:** 4.6.3-1-default
**Bumblebee Version:** 3.2.1([From X11:Bumblebee repo](https://build.opensuse.org/package/show?project=X11%3ABumblebee&package=nvidia-bumblebee))
**Driver:** 364.19 ([from Killerex repo](http://download.opensuse.org/repositories/home:/killerrex/openSUSE_Tumbleweed/))

**primusrun glxspheres**
Sa

[2016-07-15 04:03] Luke-Nukem commented on #784
@E-Berry simply installing another version of GCC won't do anything as it is just the compiler.

What i suspect quite strongly is that the issues we're now having are due to the complete system **now being built with GCC6**, hence just installing an older compiler won't work. Previously it was built with GCC 5.x

You'll notice that if you remove Steams GCC libs, it will run until it segfaults. In

[2016-07-16 14:38] Lekensteyn commented on #780
Please try to isolate the issue.

 - Set `PMMethod=none` and reboot. If the problem still exists, it is not a bbswitch issue.
 - Disable nvidia, bumblebee and bbswitch and try the nouveau driver. You can do this from a console without starting X. Run `lspci`, wait for at least 5 seconds until the nouveau driver goes into a runtime sleep and run `lspci` again to wake it up (normally this will take

[2016-07-16 15:57] eugenbalintescu commented on #780
PMMethod=none doesn't change anything.

I installed nouveau and did what you asked. Here's the output of dmesg:
http://pastebin.com/9vNDZVnr

[2016-07-16 18:05] Lekensteyn commented on #780
Are you sure? Setting `PMMethod=none` in `/etc/bumblebee/bumblebee.conf` doesn't do anything?

nouveau seems blacklisted, can you load it explicitly with `sudo modprobe nouveau` and repeat the tests?

[2016-07-16 19:12] eugenbalintescu commented on #780
Yes, I am sure, I checked again with the same results. Setting PMMethod=none doesn't change anything. I start a program with primusrun, it works. I close it and start it again, it doesn't work anymore untill I reboot.

I also did the nouveau test again, this time with sudo modprobe nouveau. This is dmesg:
http://pastebin.com/zTKg6mL3

[2016-07-17 09:01] jkehler commented on #764
I tried using the ```acpi_osi="!Windows 2015"``` option on my laptop and it did not fix the issue for me. I still get hard locks when starting X11 with the Nvidia turned OFF. I presume this fix only works for the Clevo laptops since mine is a MSI GE62 Skylake.

[2016-07-17 09:36] jkehler commented on #764
Also here is some interesting lines I found in my boot log. I'm not sure if they are helpful/relevant for isolating the source of the problem.

[code]

[2016-07-17 11:24] Lekensteyn commented on #764
@Zipristin The Ubuntu 16.04 kernel might be a bit too old for nouveau and your new hardware. The `acpi_osi="!Windows 2015"` line works around a firmware incompatibility with Linux (still investigating how to solve this).

@jkehler All messages looks normal (the type mismatch for DSM can be ignored). Since you mentioned a GTX 960M and MSI GE62, I take you refer to the [MSI GE62 Apache Pro (6th gen,

[2016-07-17 11:27] Lekensteyn commented on #780
@eugenbalintescu The 4.4 kernel included with Manjaro is a bit old and its included nouveau module does not support your GPU. Can you try a newer kernel (with nouveau, **without** Bumblebee or bbswitch)?

And when you try `PMMethod=none`, can you include the dmesg?

[2016-07-17 11:59] jkehler commented on #764
@Lekensteyn I've uploaded it to the launchpad page and I will also upload it here.

The exact model page is https://www.msi.com/Laptop/GE62-6QD-APACHE-PRO.html#hero-overview

[Micro-Star_International_Co.,_Ltd.-GE62_6QD.tar.gz](https://github.com/Bumblebee-Project/Bumblebee/files/367805/Micro-Star_International_Co._Ltd.-GE62_6QD.tar.gz)

[2016-07-17 13:26] george-harwell commented on #764
@Lekensteyn @jkehler  I also have a MSI ge62 with a 960M experiencing the exact same behaviour as jkehler. I have tried the same fixes with the same failed results as well and I get the same lockup behaviour running lspci twice (hard lock on 2nd time).

[2016-07-17 13:45] sylvio-neto commented on #764
@Zipristin Thank you very much for your fix. It worked for after I realized that the syntax should be different in Arch Linux. The system was refusing to build the grub configuration. My system is a Clevo, maybe it just fix it for this line.
I would like to share my grub cmdline to show the syntax that worked for me:

GRUB_CMDLINE_LINUX_DEFAULT="acpi_osi=\"!Windows 2015\" rcutree.rcu_idle_gp_delay

[2016-07-17 14:28] george-harwell commented on #764
@sylvio-neto AFAIK you don't need to include quotes around it as the '!' infront of the windows tells grub that it is a two string value. I run arch too and it passed the command properly and the same without quotes as it did on its own line with quotes.

[2016-07-17 16:15] Lekensteyn commented on #764
@jgkamat This issue gets a bit overloaded with different laptops... sorry for that. Can you also follow the instructions on https://bugs.launchpad.net/lpbugreporter/+bug/752542 for obtaining the required information?

@jkehler It looks like your *MSI GE62 Apache Pro* has a similar `PGON` function definition, except that it does not run into an infinite loop. You shouldn't be seeing `AML_INFINITE_L

[2016-07-17 16:38] jgkamat commented on #764
Here is the file output, let me know if you need anything else!
[Notebook-N15_17RF.tar.gz](https://github.com/Bumblebee-Project/Bumblebee/files/367996/Notebook-N15_17RF.tar.gz)

Also regarding quotes, I used single quotes around double quotes: `GRUB_CMDLINE_LINUX_DEFAULT='acpi_osi="!Windows 2015"'`.

[2016-07-17 18:00] jkehler commented on #764
@Lekensteyn I'm not exactly sure how I can provide you a full dmesg if the laptop is doing a hard lock.

However, I tried your suggestion of forcing acpi_osi to Windows 2009 only by using ```acpi_osi=! acpi_osi=Windows 2009``` and I am no longer getting a hard lock when starting X11 with the Nvidia turned OFF.

Thanks a bunch for the suggestion! Is there any major caveats to this workaround though

[2016-07-17 18:36] george-harwell commented on #764
@jkehler This just worked for me as well! I am so happy! Also @sylvio-neto ignore what I said earlier about the ! in grub I was completely misunderstanding the documentation. (english not my first language). ! means remove things but without it adds them or something.

Thank you @Lekensteyn !!!

[2016-07-18 09:19] Lekensteyn commented on #764
@jgkamat Based on your acpidump, I can confirm that the same issue exists on your *Clevo N155RF* laptop and that the workaround `acpi_osi="!Windows 2015"` will also work for you (as you reported before).

@jkehler Do you also have a hard lockup when logging into a console with the nouveau driver (not the nvidia blob)? Can you try to reproduce it without X as that touches so many things in the stac

[2016-07-18 15:01] eugenbalintescu commented on #780
I did the tests again. I used kernel 4.6 and set PMMethod=none. Nothing changed, here's dmesg:
http://pastebin.com/Cv4eCW0f

I also installed nouveau on kernel 4.6 and ran lspci several times. Here's dmesg:
http://pastebin.com/LhXe9GwW

[2016-07-18 19:29] Lekensteyn commented on #780
@eugenbalintescu Please validate your results yourself first, if you check your second `dmesg | grep nouveau`, then you will see that nouveau is not loaded. It is likely blacklisted and you have to run `sudo modprobe nouveau` to load it first.

In your first test with `PMMethod=none`, I see no scary oopses/warnings as before. What is exactly not working here?

[2016-07-20 16:58] eugenbalintescu commented on #780
Sorry, I am nothing but a Linux desktop user. These things are not very familiar to me and I forgot about modprobe nouveau.

I did the test again, here's dmesg:
http://pastebin.com/MGBjH3wT
I hope I got it right ths time.

Regarding the PMMethod=none test, I have the same problem: I start a game with primusrun, it works. I close it after a few minutes and start it again, it doesn't work anymore un

[2016-07-21 06:01] maruncz opened #785 "bumblebee not working if i enable dri3 for intel"
if i enable dri3 for intel:
[code]

optirun is not working

[code]

[code]

[2016-07-22 07:43] DewaldV commented on #764
I'm having the exact same issue on a different make and model, a Gigabyte P35W V5.

It's a similar situation with Skylake integrated graphics and nVidia Geforce 970M dedicated and if I turn the nvidia card off I get a hard-lock on login via GDM. I'm running Fedora 24 with the latest Kernel, 4.6.4.

I've tried excluding Windows 10 with `acpi_osi="!Windows 2015"` but I got the exact same lockup with

[2016-07-22 09:10] Lekensteyn commented on #764
O hey @DewaldV, was processing my mail queue in a LIFO order :-p I replied to your Launchpad post, you have to use `acpi_osi=! acpi_osi="Windows 2009"` fir your machine. Thanks for reporting this, it is really helpful to see affected machines from different manufactures.

All three affected cases have one thing in common, they use AMI BIOSes.

[2016-07-22 09:18] Lekensteyn commented on #785
Hmm, can you check link the full Xorg.8.log? I wonder if this snippet is somehow also applied to the X server started by bumblebeed.

Have you tried putting this DRI configuration in /etc/X11/xorg.conf.d/ instead?

[2016-07-22 09:25] Lekensteyn commented on #780
Ahh, your kernel is too old for your hardware, I think you need 4.6... Anyway, let's skip that test for now.

Everything looks fine according to the dmesg you provided four days ago. Another thing you can try (if you just care about using primusrun) is to set `KeepUnusedXServer=true` in /etc/bumblebee/bumblebee.conf

[2016-07-22 10:46] DewaldV commented on #764
@Lekensteyn That worked perfectly! Thanks for the quick response. :)

Looks like we have at least some common cause then. Let me know if I can help in any way in the future, I'd be happy to learn something new, hehe.

[2016-07-22 11:46] maruncz commented on #785
hi
i have no xorg.conf.d in /etc/X11

[code]

[2016-07-22 11:51] Lekensteyn commented on #785
This is problematic:
[code]

Try to create the directory and move the config snippet to that place to avoid breaking stuff. If it does not work (because your Xorg version is too old), create /etc/X11/xorg.conf directly.

[2016-07-22 12:00] maruncz commented on #785
i have X.Org X Server 1.18.3
ubuntu 16.04

now it works

looks like dri is enabled

[code]

[2016-07-23 02:30] eugenbalintescu commented on #780
What do you mean? I did the last tests with kernel 4.6. Is that too old?
I don't care about primusrun, I care about using all my hardware with Linux and bumblebee is the way to do that for now.
Someone else on the Manjaro forum has the exact problem as I do and this is what he had to say about KeepUnusedXServer=true:
https://forum.manjaro.org/t/bumblebee-not-switching-back-to-igpu-after-quitting-o

[2016-07-23 10:05] Lekensteyn commented on #780
Oops, I was mixing up log files. Upon further inspection you need at least 4.7 for support for the GM108 chipset in nouveau. If not too much asked, could you try 4.7 (tomorrow should be the final release, but you can already try a -rc kernel).

KeepUnusedXServer is bad for battery and increases the temperature so it is indeed not great, but might be preferable in some cases where you have such iss

[2016-07-23 10:05] Lekensteyn commented on #785
OK, so it was a configuration error. Closing.

[2016-07-23 10:05] #785 closed

[2016-07-23 16:42] SALVOuankeBALDO opened #786 "[Arch] optirun does not work, no apparent message error"
Hello everybody,

I've just installed bumblebee on Arch Linux to make use of my nvidia graphics card, that is:

[code]

I've installed bumblebee by following the guide on the Arch Wiki, https://wiki.archlinux.org/index.php/Bumblebee. I downloaded the `nvidia` driver and downloaded the necessary tools for 32-bit applications (as my machine is 64-bit).

After installation, installation of `bbswitch`

[2016-07-23 18:37] minolo opened #787 "Segfaults with optirun ($DISPLAY not passing?)"
Hello there!

This issue seems related to #783, but the solution there doesn't seem to apply to my case because, as mentioned there, I tried reinstalling the Intel driver (xf86-video-intel for my distribution) but the problem persists. I repeated the [installation procedure in the wiki](https://wiki.archlinux.org/index.php/bumblebee#Installing_Bumblebee_with_Intel.2FNVIDIA) several times with no r

[2016-07-24 14:13] ComputerNerd commented on #787
I am have the same issue. First of all are we sure that bumblebee is the source of the problem? Although you did not specify this it is likely that you are using bumblebee 3.2.1-11 which was last updated in March. Now the question is what is the cause of the issue?

[2016-07-26 01:51] Fry-kun commented on #784
Upgraded Fedora 23 -> 24, now primusrun vlc doesn't work. Everything else still works (optirun vlc, primusrun glxgears, primusrun smplayer...)
After upgrade, bumblebee-nvidia --check showed some errors, but after running suggested tasks now says "ok"

[2016-07-26 03:23] s0600204 commented on #786
I can report the same problem. Also running Arch 64-bit, but I don't have the 32-bit libraries. Problem started about a week ago, after updating my system.

I notice that `optirun glxspheres64` doesn't work, but `optirun -b primus glxspheres64` does.

As the default bridge is `auto` which defaults to `virtualgl`, I'm assuming that something's recently changed/broken/regressed there.

Looking over

[2016-07-26 10:37] SALVOuankeBALDO commented on #786
As I've written, I'm aware of the fact that primus is working. It gives me a strange error when I close glxgears and freezes, forcing me to CTRL+C out of the error. I'm still debugging that.

Still, thanks for the suggestion.

[2016-07-26 19:25] gsgatlin commented on #784
It is regrettable that I am unable to even  install fedora 24 today. Perhaps they need to give some more love to their installer. So I cannot even reproduce your problem.

http://i.imgur.com/B0u7VVD.jpg

[2016-07-26 20:18] gsgatlin commented on #784
@Fry-kun My apologies. Evidently one must have a finished install or non damaged partitions for the fedora 24 MATE live DVD to be able to even boot. And then one must try multiple times and also one must run the first dnf update on a TTY and not in X.  So many landmines. Lets see if I can reproduce your issue if the fc 24 install actually even finishes...

[2016-07-26 20:27] Fry-kun commented on #784
@gsgatlin no worries, hope you work it out soon!
(and hope a clean install issues are consistent with the upgrade ones :)

[2016-07-26 21:24] gsgatlin commented on #784
@Fry-kun Hmnn. It does seem to crash with primusrun in fedora 24.

qt interface error: Xlib not initialized for threads.

You probably don't want to use primusrun or optirun with the virtualgl bridge and VLC. I don't think it will help VLC with playback. bumblebee + primus or bumblebee + virtualgl are mainly for 3d opengl applications like 3d video games. Your intel GPU should be powerful enough t

[2016-07-26 22:05] Fry-kun commented on #784
Yay, replicated!
The reason for using "primusrun vlc" was because intel driver sometimes glitches on or even refuses to play certain clips. Probably has to do with VAAPI/VDPAU problems (Note: vlc seems to prefer using VDPAU if it's available).. but my workaround was to use the nvidia card to play those clips.. and now I don't even have that luxury :(
I definitely remember some high resolution clip

[2016-07-27 00:54] gsgatlin commented on #784
@Fry-kun can you open a new issue at

https://github.com/amonakov/primus/issues

?

Maybe the @amonakov  will have some ideas about how to troubleshoot it further?

[2016-07-27 00:55] s0600204 commented on #786
I would then suggest to check if any other programs require you ctrl-c to end the program when run through `primusrun`. From my own experimentation, I note that `glxgears` and `glxheads` do, but `glxspheres64`, `teapot`, `0ad`/`pyrogenesis` and `supertuxkart` do not.

I don't know if you've tried it, but I notice that prefixing `primusrun` (or `optirun`) with `vblank_mode=X`, where `X` is either `

[2016-07-27 00:55] gsgatlin commented on #784
Meant to say @amonakov might have some ideas about how to troubleshoot it further. Thanks.

[2016-07-27 00:55] s0600204 commented on #787
Firstly, probable duplicate of issue initially reported in #786.
Secondly, see https://bugs.archlinux.org/task/50067

[2016-07-27 18:25] freedomwarrior opened #789 "Could not enable discrete graphics card"
Machine - dell inspiron 7720 with gtx 650m/
System - `Linux debian 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux`
After installing bumblebee from this tutorial - http://fixmynix.com/install-and-configure-nvidia-optimus-with-bumblebee-in-debian/, I can't run `optirun glxspheres`, I just have this error:

[code]

[2016-07-27 18:47] bluca commented on #789
Please don't use virtualgl, there's really no point. Install primus instead.
Also, please try with bumblebee and primus from jessie-backports.

[2016-07-27 19:56] Fry-kun opened #790 "Shutdown takes a long time"
Had this issue as of upgrading Fedora 23 -> 24 (so possibly related to my problem in #784)

During shutdown, a timer is displayed -- it waits for 1.5min before killing a hung process. This can be worked around with sysrq command I (kill all tasks) -- or just by waiting for 1:30 (but who has the time to do that?? :)

When I saw this problem in F23, the solution was to add options to /etc/modprobe.d

[2016-07-28 03:33] SirTempest commented on #784
Is there a fix at all, or are we SOL for the time being on?

[2016-07-28 13:06] SALVOuankeBALDO commented on #786
Thanks for the suggestion. I tried as you did an `echo $?`, obtaining `130` as output (just after running glxgears with virtualgl). A `gdb` after (I did not know the tool as I'm a newbie, but it's always nice to have antoher tool!) I had exactly the same error as you:
[code]

[2016-07-28 15:57] eugenbalintescu commented on #780
Sorry for the late reply.
I did the test again with kernel 4.7. Here's dmesg:
http://pastebin.com/3fasFxqE

[2016-07-29 16:30] SALVOuankeBALDO commented on #786
After `bumbebee` update, `optirun` is working. Many thanks to the developers.

[2016-07-30 10:32] bluca commented on #784
On Debian Sid, with both 367.27 and 367.35, both optirun and primus run work just fine with glxgears and openarena.

Do your distributions backport bumblebee patches from the develop branches? If not, could you please try to build from sources from the develop branches?

[2016-07-30 10:51] bluca commented on #784
Built primus with g++-6 on Sid and still glxgears and openarena work just fine with optirun and primusrun.

[2016-07-30 10:53] bluca commented on #790
If you check with `lsmod | grep nvidia` before shutdown, do you still see modules loaded? What about `cat /proc/acpi/bbswitch` ?

[2016-07-31 03:43] Avinash-Bhat commented on #786
@SALVOuankeBALDO in which version of `bumblebee` is this fixed?

[2016-07-31 08:33] Lekensteyn commented on #786
@Avinash-Bhat Try the git version, bracnh "develop". It should really be pushed out, but ...

[2016-07-31 08:38] Lekensteyn commented on #790
Does this also apply to suspend/resume? Please try to obtain a kernel log for the previous boot. Once you reboot, you can run `journalctl -kb-1` for that.

[2016-07-31 09:49] SALVOuankeBALDO commented on #786
@Avinash-Bhat `bumblebee 3.2.1-12`, I downloaded it from Arch's repositories through pacman.

[2016-07-31 11:34] Avinash-Bhat commented on #786
@SALVOuankeBALDO it didn't work for me OOTB, but with some help from the comment by @s0600204  on setting `Bridge=primus` it worked for me.

[2016-07-31 11:43] SALVOuankeBALDO commented on #786
Oh, shit.

Sorry, I tested `optirun glxgears` convinced that I had `Bridge=virtualgl`. Turns out I had modified it to `primus`, that was working. I switched back to `virtualgl` and returned in the same situation.

So I guess I have to reopen this. Sorry all, I don't know where I have my head in these days.

[2016-07-31 21:33] eXt73 commented on #759
Hi
@gdevenyi You have right ... these are some of the elements that should be modified ... we are within our NeteXt'73 already provide support for Ubuntu / Kubuntu / ... 16.04 ... see how it works with optimized kernels etc.:

https://www.youtube.com/watch?v=P9owsZVVKIs

https://www.youtube.com/watch?v=V-usd-sF664

[2016-08-01 18:44] Fry-kun commented on #790
lsmod | grep nvidia  --> nothing
cat /proc/acpi/bbswitch  --> 0000:01:00.0 OFF

suspend/resume --> no issue

reboot without logging in (from lightdm) --> no hang
reboot after logging into XFCE session --> hang

"shutdown*" logs obtained by following https://www.freedesktop.org/wiki/Software/systemd/Debugging/#index2h1

[journalctl-clean.txt](https://github.com/Bumblebee-Project/Bumblebee/files/394

[2016-08-02 22:54] nsrishankar opened #791 "ar"

[2016-08-02 22:54] #791 closed

[2016-08-02 22:56] Lekensteyn commented on #791
What is the purpose of this...?

[2016-08-02 22:57] nsrishankar commented on #791
Sorry. Mistake.

[2016-08-02 23:03] Lekensteyn commented on #790
Are you sure it is caused by Bumblebee? Have you tried disabling the bumblebeed service?

[2016-08-03 15:06] Fry-kun commented on #790
I've retraced everything and looks like bumblebee is not involved in this bug.
Sorry about that!

[2016-08-03 15:06] #790 closed

[2016-08-05 14:33] GuillaumeLeclerc commented on #787
I have the same :/

[2016-08-07 11:14] szjanos opened #792 "[Arch] optirun/primusrun is not working with wine"
Hi!

I am trying to run optirun/primusrun with Wine and Sims3.
I am using Arch Linux and the latest version from everything.

I am getting the following error (optirun/primusrun same output):
https://gist.github.com/ea6b8e6e3d7fa1dc6b6f736b0431f278

My **dmesg** output:
https://gist.github.com/15966fd6f8de2e60be62d80e3055e296

My **lspci** output:
https://gist.github.com/7e0350b698ac73027ff56a6f79

[2016-08-08 05:06] YugWu commented on #792
This error looks like wine`s error other than bumblebee, just try wine without bumblebee then check whether it is bumblebee fault.

[2016-08-08 07:43] szjanos commented on #792
@YugWu if I am starting it without bumblebee then it's working. It is using the built in Intel graphics card, but it has low FPS and sometimes it's laggy.

[2016-08-08 17:26] Elktro opened #793 "Ubuntu 16.04 LTS, Asus UX303U, Intel Sky Lake + GeForce 940M, cannot get Bumblebee working"
I have tried to get Bumblebee working with my ASUS Zenbook without any luck.

I have installed a proprietary Nvidia driver 361 from the Debian packages, which seems to work with my laptop as I am able to enable the GeForce using the  _nvidia-settings_-tool. However, when I try to run _glxgears_ with _primusrun_ I get error without any error:

[code]

See Below relevant logs:

[code]

[code]

I mod

[2016-08-08 18:53] bluca commented on #793
Please try with the packages from the testing repository:
https://launchpad.net/~bumblebee/+archive/ubuntu/testing

[2016-08-08 20:12] Elktro commented on #793
Thank you! I installed the packages below from the testing repository and got it working.

[code]

The only thing that I had to do to get a steam game working with _primusrun_ was to relink libstdc++.so.6 to newer versions by running:

[code]

[2016-08-08 20:13] #793 closed

[2016-08-12 08:10] pjf commented on #759
Just here giving thanks. I'm on Ubuntu 14.04 with a 4.6.6 kernel and nvidia-367, and following both @molecularentropy and @krlmlr's instructions, and an extra run of `sudo ldconfig`, I managed to get everything working after upgrading from a 4.5.7 kernel with nvidia-352. Thank you!! (FWIW, I did have to blacklist modules)

[2016-08-13 17:13] monkeynaleo opened #794 "intel-virtual-output has no effect"
Hey, I am trying to get my HDMI working using bumblebee and primusrun.

Here is the output i get from intel-virtual-output -v after running primusrun true:

[intel.txt](https://github.com/Bumblebee-Project/Bumblebee/files/416668/intel.txt)

The output that I then get from xrandr is this:
[xrandr.txt](https://github.com/Bumblebee-Project/Bumblebee/files/416670/xrandr.txt)

What am I doing wrong?

[2016-08-14 08:27] flashrocket commented on #716
it seems that it was caused by a software known as gpu manager
running
sudo systemctl mask gpu-manager.service
fixed it

[2016-08-15 06:54] kittkott commented on #780
test with kernel 4.7. and Gentoo
Linux 4.7.0-gentoo #7 SMP PREEMPT  x86_64 Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz GenuineIntel GNU/Linux

Never OFF
cat /proc/acpi/bbswitch
0000:01:00.0 ON

[    9.188658] bbswitch: version 0.8
[    9.188665] bbswitch: Found integrated VGA device 0000:00:02.0: \_SB_.PCI0.VID_
[    9.188669] bbswitch: Found discrete VGA device 0000:01:00.0: \_SB_.PCI0.PEG_.VID_
[

[2016-08-15 13:28] m4ng0squ4sh commented on #764
Hi,
I have the same issue on a Razer Blade 2016 with an Intel Core i7–6700HQ and a NVIDIA GeForce GTX 970M. I am running Arch linux with the latest 4.7 kernel and I am only using bbswitch without the bumblebee daemon to switch the discrete card off. Xorg hangs if the discrete card is switched off before starting it. If I use Wayland it works, but hangs later on during random actions... Right now I

[2016-08-15 21:09] MrBollie commented on #786
While the primus workaround works with glxgears, I have more complex applications, that even crash with that. Same segfaults, though the processes get stuck and need some kill -9.

Still, that workaround doesn't look healthy at all:
optirun -b primus glxgears leads to this:
Process 5166 (glxgears) of user 1000 dumped core.

Stack trace of thread 5166:
#0 0x00007fa51c5dc7ad n/a (libGLX_nvidia.so.0)

[2016-08-16 08:29] MrBollie commented on #786
Please have a look at the latest comments on https://bugs.archlinux.org/task/50067
At least on my system, the latest nvidia beta driver seems to fix the issue. However, having bumblebeed started with bbswitch on lets X hang when it starts (with automatic graphic cards detection). Not sure, if that's a bumblebee issue.

[2016-08-16 20:34] SG5 commented on #749
Few weeks ago I do clear installation xubuntu 16.04, and it has only Nouveau drivers.
But have some error "primus: fatal: Bumblebee daemon reported: error: [XORG] (EE) Failed to load module "mouse" (module does not exist, 0)"

https://gist.github.com/SG5/04284128d1543fada28f349c6463b3cc

[2016-08-16 20:56] bluca commented on #749
That's a red herring. The real error is at the end:

[code]

[2016-08-16 23:29] LahayeChris commented on #764
I encountered the same problem on a HP ZBook Studio G3 running Arch Linux 4.7.0-1. A freeze occurs when the bumblebee daemon is started before xserver while having bbswitch installed.

Bumblebee automatically turns of the discrete graphic card if bbswitch is installed, this is normal and documented behaviour. Starting xserver with the graphic card turned off results in a freeze.

Two workarounds h

[2016-08-17 09:31] amazingfate opened #795 "how bumblee know whether it is a Optimus device"
Some machine also have intel+nvidia graphics card,but not Optimus device. Do Optimus devices have something different on linux?

[2016-08-17 10:05] bluca commented on #795
No, and AFAIK there is no way to detect that short of having a full list of devices.

[2016-08-17 12:27] Lekensteyn commented on #795
Bumblebee currently has simple detection logic, if it finds a video card from Intel and another one from Nvidia, it assumes an Optimus setup. This is probably wrong for desktop systems, but then you should just not install it on such systems.

Actually, it can detect Optimus (indirectly). By default, the "bbswitch" power management method is used. If this method is not available, bumblebeed will f

[2016-08-17 12:31] Lekensteyn commented on #764
@m4ng0squ4sh Please post and link your acpidump+lspci+dmidecode information per https://bugs.launchpad.net/lpbugreporter/+bug/752542 for further investigation. If the issue is unrelated to this one, you can try Linux 4.8-rc1 or newer to see if the PR3 improvements in nouveau/PCI help you.

@LahayeChris Same question, please post the details and optionally try 4.8 kernel with nouveau and no bbswitc

[2016-08-17 12:36] Lekensteyn commented on #780
@kittkott your issue is different, also pay attention to:
**device 0000:01:00.0 is in use by driver 'nouveau', refusing OFF**

You can open a new report if you want.

[2016-08-17 14:58] m4ng0squ4sh commented on #764
@Lekensteyn Here is my [tarball](https://bugs.launchpad.net/lpbugreporter/+bug/752542/+attachment/4722651/+files/Razer-Blade.tar.gz) containing the requested information.

I will try the 4.8 kernel soon...

[2016-08-18 01:17] kittkott commented on #780
@Lekensteyn
When i made 'nouveau' like a module to unload it
bbswitch report:
**device 0000:01:00.0 is in use by driver 'nvidiafb', refusing OFF**
nvidiafb is also compiled lake a module

[2016-08-18 01:33] amazingfate commented on #792
did you install package lib32-virtualgl?

[2016-08-18 02:27] kittkott commented on #780
**lsmod | grep nouveau**
nouveau              1411114  0
ttm                    68922  1 nouveau

When 'nouveau' like a module, I can't use discrete VGA.
**optirun glxspheres64**
[  272.052935] [ERROR]Cannot access secondary GPU - error: [XORG] (EE) /dev/dri/card0: failed to set DRM interface version 1.4: Permission denied
[  272.052980] [ERROR]Aborting because fallback start is disabled.

**dmesg

[2016-08-18 13:24] xzr5 opened #796 "bumblebee does not start"
the command output:
optirun glxgears

[code]

which steps to follow to fix?

[2016-08-18 21:39] Lekensteyn commented on #764
@m4ng0squ4sh Guess what, your laptop also has AMI BIOS. Try `acpi_osi=! acpi_osi="Windows 2009"` to workaround the lockups (found in SSDT5). I have added your laptop to https://github.com/Bumblebee-Project/Bumblebee/issues/764#issuecomment-234494238
[code]

[2016-08-18 21:40] Lekensteyn commented on #780
@kittkott Please RTFM your distro's (Gentoo) documentation, you have misconfigured something. Please do not hijack bugs, create a new one.

[2016-08-19 01:19] amazingfate commented on #795
thank you very much~

[2016-08-19 01:19] #795 closed

[2016-08-19 09:53] m4ng0squ4sh commented on #764
@Lekensteyn Thanks! The workaround fixes the lockups, but my touchpad does not work anymore. Any hints why `acpi_osi=!` causes this? Can you explain, why this command line fixes the lockups? Would it be possible to fix this upstream? Where to start and dig to try to get this fixed?

[2016-08-19 15:06] nicokeet commented on #764
Hi,

I've got an ASUS GL502VT laptop with NVIDIA GTX 970M GPU and I'm on Debian Stretch. I've got the same issue, I've installed nvidia drivers and bumblebee but when I try to login with X11 the laptop freezes, GPU fans are spinning at max speed as soon as I install the nvidia drivers too. If i login with GNOME with Wayland I don't have this issue,  if I disable bumblebee service before logging in

[2016-08-19 15:23] m4ng0squ4sh commented on #764
@nicokeet Quote: `Please post and link your acpidump+lspci+dmidecode information per https://bugs.launchpad.net/lpbugreporter/+bug/752542 for further investigation.`

@Lekensteyn I got it fixed for the Razer Blade 14 2016 models. I read and tried a lot and finally fixed it by patching the ACPI DSDT firmware. Here is a **[link to the source](https://github.com/m4ng0squ4sh/razer_blade_14_2016_acpi_d

[2016-08-20 08:50] haarp commented on #759
@krlmlr

Yes, this appears to be a bug with nvidia-drivers-364+. Could you share the i-v-o patches? Many thanks!

[2016-08-20 17:22] Lekensteyn commented on #764
@m4ng0squ4sh I also agree that it should be fixed in the kernel, but it would need more debugging. I wrote some notes at https://github.com/Lekensteyn/acpi-stuff/blob/master/Clevo-P651RA/notes.txt

Probably should ask the linux-pci list for assistance.

[2016-08-20 18:54] m4ng0squ4sh commented on #764
@Lekensteyn Thanks! I'll do that. Hope this gets fixed soon. I'll report back if there are any news.

[2016-08-20 20:26] krlmlr commented on #759
@haarp: Here you go:

[code]

Works for me, but the `XRRSetPanning()` calls seem to be necessary in the general case, so ymmv.

[2016-08-21 08:09] lmascari opened #798 "Skylake optimus nvidia freeze on Manjaro"
Hi,

my new  laptop is a HP zbook studio G3  with a i7-6700HQ skylake processor and an Nvidia quadro M1000M optimus card. I succeed in installing a Manjaro with KDE running the Intel driver, and quite every thing is running fine except bumblebee.

If I enable bumblebee at boot by :
[code]
the laptop very often freezes at a very early stage in the boot sequence, before KDE starts.
If  bumblebee is

[2016-08-21 09:04] DaiAtlas opened #799 "Bumblebee fps performance"
Hello everyone,
I'm under **Debian sid with linux 4.6.0-1-amd64 with gtx 960m and HD Graphics 530, i installed bumblebee-nvidia 3.2.1-13**

I have a strange problem :
When i'm using glxgears im at **8000** fps, but if i used optimus, im at **3000** fps.
I installed nvidia-settings, but when im using it with optirun, he tell me "You do not appear to be using the NVIDIA X driver ...."

I installed n

[2016-08-21 09:25] bluca commented on #798
The freeze early at boot looks like this issue: https://github.com/Bumblebee-Project/Bumblebee/issues/764
Please read that thread and post the required information if the issue is similar

[2016-08-21 09:31] bluca commented on #799
1) nvidia-detect does not support optimus
2) for nvidia-settings, you need -c :8, eg: ```optirun nvidia-settings -c :8``` and then it will work
3) glxgears FPS count means very little. Run it with -info to confirm it's using the discrete gpu: ```optirun glxgears -info```
4) It's really not recommended to run the whole X session with optirun, just use it to launch gpu-intensive applications
5) nvid

[2016-08-21 10:20] DaiAtlas commented on #799
Thank you so much for the very quick answer !

1) :+1:
2)Woah, thank you so much, its working ! :+1: :heart:  :sunny:
3) Whe
4) :+1:
5) :+1:

[2016-08-21 10:32] DaiAtlas commented on #799
Thank you so much for the very quick answer !

1) :+1:
2)Woah, thank you so much, its working ! :+1: :heart: :sunny:
3) When i run **optirun glxgears -info**, it's not mentioning discrete gpu, so here what's its telling me

4) :+1:
5) :+1:

Than you @bluca  :kiss:

[2016-08-21 10:45] bluca commented on #799
Yes the output looks good. I'll close the issue now since all the questions have been solved, if you encounter other issues and can't find a resolution in previous tickets feel free to open another.

[2016-08-21 10:45] #799 closed

[2016-08-21 11:46] karolherbst commented on #799
maybe for the future: you should add to the readme, that glxgears is not a valid benchmark for bumblebee, because of the pcie overhead, the performance on the dedicated side is usually lower.

[2016-08-21 12:59] DaiAtlas commented on #799
Ok instead of using glxgears, i used glxshepres64 :

- [ ] 236.021066 Mpixels/sec for GeForce GTX 960M

- [ ] 202.453807 Mpixels/sec  for Mesa DRI Intel(R) HD Graphics 530

When web look the difference beween intel 530 and nvidia 960m, we can tell than 960m don't use all of this power. [http://gpu.userbenchmark.com/Compare/Nvidia-GTX-960M-vs-Intel-HD-530-Desktop-Skylake/m27242vsm33102](url)

This

[2016-08-21 13:12] bluca commented on #799
You did nothing wrong, this is expected. There is an additional overhead when using bumblebee+primus. PRIME is a bit faster but the usability is terrible as it requires to switch a flag and reboot every time you want to switch card.
Note that for everyday usage rather than benchmarks bumblebee is fine. If you want to run benchmarks then you'll have to either switch to Ubuntu or set up PRIME by you

[2016-08-22 05:49] haarp commented on #759
@krlmlr

Thank you, this works :)

[2016-08-22 08:00] lmascari commented on #798
Hello bluca, thanks for your answer.
 Unfortunately, I tried to switch the discrete card ON before launching sddm and the behavior is always the same : my laptop freezes at random time as soon as bumblebee is started.

[2016-08-22 15:27] TheChymera opened #800 "Bumblebee/Nouveau: Cannot access secondary GPU - error: Could not load GPU driver"
I have just installed bumblebee, but it seems it does not let me use my nvidia graphics card:

[code]

The service is running nicely, though it seems each first time after boot it fails to see the nouveau module:

[code]

I have no `/etc/X11/xorg.conf` , and I have tried everything else recommended for this error (e.g. [on the Arch wiki](https://wiki.archlinux.org/index.php/bumblebee#.5BERROR.5DCa

[2016-08-22 15:42] karolherbst commented on #800
quick fix: don't use bumblebee but prime offloading instead (for better performance and support): https://nouveau.freedesktop.org/wiki/Optimus/

[2016-08-22 15:43] karolherbst commented on #800
also check dmesg for any nouveau issues

[2016-08-22 18:26] da-woods commented on #784
I think it's an issue with the setup of primusrun on Tumbleweed. If I change the line

    PRIMUS_libGL=/usr/lib64/primus:/usr/lib/primus:/usr/lib64/nvidia:/usr/lib/nvidia${PRIMUS_libGL:-$(dirname `readlink -ne $0`)/'$LIB'}

to

    PRIMUS_libGL=${PRIMUS_libGL:-$(dirname `readlink -ne $0`)/'$LIB'}

(in /usr/bin/primusrun) then it seems to work correctly

[2016-08-22 19:00] bluca commented on #784
Given you are a suse user, could you please raise a bug with the suse package for this and see what the maintainer(s) have to say?

[2016-08-22 19:24] da-woods commented on #784
Done (I think).

[2016-08-22 19:30] bluca commented on #784
Thanks!

[2016-08-22 21:43] TheChymera commented on #800
I came across that article before. but it's not really much of a guide. It just assumes `xrandr --listproviders` will give me two entries, it does not:

[code]

Whether I have:

KMS drivers for both GPUs loaded.
DDX drivers for both GPUs loaded.

I cannot say, since those requirements are not clearly identified. For what it's worth I am running the Gentoo Linux 4.6.4 kernel, and I have the followi

[2016-08-22 21:53] TheChymera commented on #800
As for `dmesg`, these are the only relevant entries I could find:

[code]

`lspci` shows this:

[code]

There are only very few reports of issues with this card and nouveau, and apparently one way to avoid issues is to ["just use bumblebee"](https://bbs.archlinux.org/viewtopic.php?pid=1628627#p1628627).

`modprobe nouveau` works now, but I also get this:

[code]

Perhaps unrelated, but `dmesg` als

[2016-08-24 07:31] lmascari commented on #798
Finally bluca was right ! The solution to the issue has been given by LahayeChris in issue #764 :
Changing the ACPI OS identification to Windows 2009 with the kernel parameters acpi_osi=! acpi_osi="Windows 2009" fixes the problem.

Thanks a lot.

[2016-08-24 14:30] Lekensteyn commented on #796
1. read logs
2. search issue tracker/Google for hints

when reporting bugs, include your hardware details and software environment.

[2016-08-25 01:09] TheChymera commented on #800
@karolherbst ?

[2016-08-25 10:14] karolherbst commented on #800
if you have DRI3 enabled in X, you don't need that provider stuff. And if your gpu isn't recognized, you should update your kernel. GM108 support landed a bit later, I think 4.7 or 4.8.

[2016-08-25 16:10] nicokeet commented on #764
@m4ng0squ4sh Thanks, I posted my tar. Hope this gets fixed soon.

[2016-08-25 19:18] E-Berry commented on #784
Bugzilla report
https://bugzilla.opensuse.org/show_bug.cgi?id=995570

Anidev seems to have applied da-wood's solution. I have not tested it
https://build.opensuse.org/package/show?project=home%3Aanidev%3Abranches%3AX11%3ABumblebee&package=primus

[2016-08-25 19:25] bluca commented on #784
@da-woods @E-Berry @tonatiuhmira  thanks for reporting the issue. When you have time to test it please report back so we can eventually close the issue if it's fixed. Thanks!

[2016-08-25 20:03] jarredkenny commented on #777
The `* Resuming from suspend may not be reliable on GeForce GTX 9xx boards in some configurations.` warning seems to have disappeared on more recent drivers.

 http://www.geforce.com/drivers/results/106780

[2016-08-25 22:54] W-Floyd commented on #777
Oh, thanks for the heads up. I'll look into that when I can.

[2016-08-26 00:40] E-Berry commented on #784
It works... sort of
**primusrun glxspheres** launches glxspheres with the Intel card
**optirun -b primus glxspheres** launches glxspheres correctly, using the nvidia card

 **Here's what I did**
With [bumblebee](https://en.opensuse.org/SDB:NVIDIA_Bumblebee) installed
`#zypper ar -p PRIORITY http://download.opensuse.org/repositories/home:/anidev:/branches:/X11:/Bumblebee/openSUSE_Tumbleweed/ primus

[2016-08-26 14:39] readmm commented on #800
I have the same problem I installed nvidia/intel with bumblebee and I dont know what I do wrong check out my post, for details.
https://redd.it/4znhog

[2016-08-26 15:33] Lekensteyn commented on #798
@lmascari can you post your acpidump, lspci and dmidecode information according to https://bugs.launchpad.net/lpbugreporter/+bug/752542?

[2016-08-27 13:18] reygen commented on #764
MSI GS60 6QE Ghost Pro (i7 6700HQ/GTX 970M/AMI bios) is also affected by this issue.
Running Arch Linux and the system works as expected after applying the workaround.
Thanks!

[2016-08-27 22:37] Lekensteyn commented on #764
@reygen Can you upload the info tarball per https://bugs.launchpad.net/lpbugreporter/+bug/752542?

[2016-08-28 13:29] m4ng0squ4sh commented on #764
Didn't get a respond so far from the Linux PCI mailing list. Mails get easily lost, if not addressed directly to the sub-maintainer... I'll dig into the Linux kernel source by my self, as soon as I have some spare time.

[2016-08-28 14:53] Lekensteyn commented on #764
I see your post is at https://www.spinics.net/lists/linux-pci/msg53521.html
Maybe people are still on holiday or did not know yet what pointers to give. I have meanwhile updated the post above, it seems that there is also a Dell machine affected.

[2016-08-29 07:59] m4ng0squ4sh commented on #764
@Lekensteyn might be... Thanks, I updated the affected machines list and send it to the mailing list.

[2016-08-29 20:17] sherter commented on #599
With PRIME (`xf86-video-nouveau 1.0.12`) I have the same symptoms as @floe (`lspci -H1` _does_ show the audio device, but normal `lspci` doesn't).

[code]

[2016-08-30 08:31] Lekensteyn commented on #599
This is not something that Bumblebee can fix, it is up to the drivers. Bug for nouveau is at https://bugs.freedesktop.org/show_bug.cgi?id=75985

[2016-08-30 08:31] #599 closed

[2016-08-30 22:26] sodar commented on #764
Hi everyone,

I am using Dell laptop mentioned in https://github.com/Bumblebee-Project/Bumblebee/issues/764#issuecomment-234494238. @Lekensteyn, I have checked the workaround you provided. Adding `acpi_osi="!Windows 2015"` worked and Xorg server started properly. Bumblebee works and it is switching graphics cards properly when using `optirun` (after installing version from git).

[2016-08-31 07:26] lmascari commented on #798
Le 26/08/2016 à 17:33, Peter Wu a écrit :

Hi,

this is done, anyway the bug is fixed thanks to Lucca  Boccassi, who
directed me to https://github.com/Bumblebee-Project/Bumblebee/issues/764

Thanks again

[2016-08-31 07:47] bluca commented on #798
Thanks for the update, closing since it's fixed/duplicate

[2016-08-31 07:47] #798 closed

[2016-08-31 11:36] m4ng0squ4sh commented on #764
Just discussing this with some devs from the mailing list and we discovered some more details...

Steps to reproduce this bug:

1. Load nouveau.
2. Wait for it to runtime suspend.
3. Invoke 'lspci', this resumes the Nvidia PCI device via nouveau.
4. lspci never returns, few moments later an AML_INFINITE_LOOP is
    reported.

[2016-08-31 22:55] BaronBaleron commented on #749
@SG5 I found solution solved "mouse" problem for me at the end of file /etc/bumblebee/xorg.conf.nvidia include the following screen-section to make bumblebee work:

Section "Screen"
  Identifier "Default Screen"
  Device "DiscreteNvidia"
EndSection

Maybe this will also work for you.

[2016-09-01 10:28] ppmt commented on #749
I have the same issue with the mouse (which prevents the application to start)

I implemented the Section "Screen" above and restarted bumblebeed but it still doesn't work

[2016-09-01 10:45] bluca commented on #749
The mouse/keyboard errors are red herrings. Please upload the full log to pastebin/gist and link it here. There is most likely another error lurking.

[2016-09-01 10:57] ppmt commented on #749
Hello @bluca , thanks for helping. Here the log file Xorg.8.log

https://gist.github.com/ppmt/b35a24b512bf0c37a2e60b883a187844

[2016-09-01 16:42] #796 closed

[2016-09-02 20:25] user-az commented on #749
Hi. My workaround for "mouse" problem is
0. Reading for archlinux forums I'd found smthng like "restart your bumblebee service"
So, after restarting the one and starting
$optirun --status
Bumblebee status: Ready (3.2.1). X inactive. Discrete video card is off.
But trying
$optirun glxgears
I still had the same "mouse" problem.

1.I've checked  lspci  for my nvidia card
01:00.0 3D controller: NVIDIA

[2016-09-02 20:53] ppmt commented on #749
@user-az : thanks a lot! that did it for me too.

I uncommented the BUSID line and now it all works. Optirun will launch the app.

without optirun :
$ glxgears
Running synchronized to the vertical refresh.  The framerate should be
approximately the same as the monitor refresh rate.
304 frames in 5.0 seconds = 60.644 FPS
301 frames in 5.0 seconds = 60.037 FPS

and with optirun :
$ optirun glxgears

[2016-09-03 10:29] sherter commented on #599
@Lekensteyn But the audio device _does_ work when I switch to discrete graphics only in BIOS and use the Nvidia driver. So it is not really a Nvidia driver problem, is it?

[2016-09-03 17:02] Lekensteyn commented on #599
@sherter The driver must do something special to activate the device. See the linked bug for the needed commands.

[2016-09-06 10:52] ademcal commented on #764
I have my laptop Dell 7559 ı was living same problem  but it solved **acpi_osi="!Windows 2015"**

thanks for everyone

[2016-09-07 00:37] MrCoe1989 opened #802 "Optirun doesn't activate gpu audio over HDMI Or Displayport"
Hello

I'm currently running bumblebee with the proprietary nvidia drivers on arch linux i can enable multimonitor support via the steps outlined in your multi monitor guide but hdmi audio support is not available, unless i switch the bios to discreate graphics only.

aplay -l displays the following:
card 0: PCH [HDA Intel PCH], device 0: ALC98 Analog [ALC298 Analog]
Subdevices: 1/1
Subdevice #0:

[2016-09-07 10:41] Fathardie commented on #782
I am having the exact same issue after I just updated my entire system. I am noticing a weird delay in the bumblebee server where any Xorg messages are only shown after the optirun command/bumblebee connection has timed out.  Notice the timestamps in the logs below. The entire Xorg-8 is only pushed just before the connection between optirun, bumblebeed and Xorg has timed out(10 seconds). Seems lik

[2016-09-07 21:09] Lekensteyn commented on #802
Try the PCI rescan method from https://bugs.freedesktop.org/show_bug.cgi?id=75985

[2016-09-08 09:06] Luke-Nukem commented on #794
I've always found that the screen needed to be plugged in first or it wouldn't be detected.

[2016-09-08 09:09] Luke-Nukem commented on #784
@E-Berry @da-woods, can you check that you actually are running with the Nvidia GLX libs with `glxinfo`. You may find it is actually using the Intel card and libs even though the Nvidia card was turned on (with anidev repo, or latest (last) primus git).

[2016-09-10 00:53] benklop commented on #585
I've got a macbook mid-2014 and I'm not sure it's actually still possible to use the gmux in place of bbswitch, as of Ubuntu 16.04 with a 4.4.0 kernel. The vga-switcheroo interface in /sys/kernel/debug seems to be missing, and I've got all the necessary modules loaded.

[2016-09-10 15:05] Lekensteyn commented on #585
bbswitch does not support macbooks. Paging in the expert @l1k

[2016-09-10 19:17] l1k commented on #585
The `switch` file in debugfs will appear as soon as the modules nouveau, i915 and apple-gmux are loaded. If it's missing, you haven't loaded the drivers or they failed for some reason (look in dmesg). On the MacBookPro11,3 (Mid 2014) you need either a kernel patch or bootloader support to identify as Apple MacOS X 10.9 to EFI, otherwise the integrated GPU is turned off by EFI when ExitBootServices

[2016-09-10 21:19] Fathardie commented on #782
I did more debugging and I also tried strace. Found out the bumblebeed process is unable to connect to the X8 socket.

Part of strace log that is relevant:
[code]

I did check if the file is available and I can see the socket in /tmp/.X11/ . I started bumblee as root with bumblebeed -vvv. So I am unclear as to why bumblebee cannot connect to the Xorg socket.

[2016-09-10 21:31] Fathardie commented on #782
Okay, I do not understand this one bit at all. It somehow all got magically fixed after I tried to socat into the X8 socket. Could it be that the socket got into a persistant error state? I have no clue if that is very naive but it is the only direction I can think of as the socket is of course deleted in between calls.

[2016-09-12 04:21] MrCoe1989 commented on #802
Thank you for the response, i tried it with no success

[2016-09-13 05:22] mangostaniko commented on #764
Fixed the issue on my Clevo P651RP6-G (2016) that originally had Windows 10 installed via `acpi_osi=! acpi_osi="Windows 2009"` boot options.
Thanks everyone!! <3

[2016-09-16 21:46] DrPyser opened #803 "Fedora 24 libGL.so missing"
I'm using the Fedora 24 repository for the closed source driver(see https://fedoraproject.org/wiki/Bumblebee#For_closed_source_solution).

 I'm having pretty much the exact problem as issue #721, except the kernel-devel package is not the problem(I have the right version for my kernel).

My GPUs:
`lspci | grep -E "VGA|3D"`
[code]

Here's the results of `bumblebee-nvidia --check` after I've run the

[2016-09-16 21:55] gsgatlin commented on #803
What is the output from

bumblebee-nvidia --debug

?

You will need to run it as root.

[2016-09-17 00:17] DrPyser commented on #803
`--debug mode selected.`

Nothing...

[2016-09-17 02:43] DrPyser opened #804 "Fedora 24 nouveau driver "Failed to load module "mouse" (module does not exist, 0)""
After failing to make the closed source bumblebee-nvidia work(#803), I tried the bumblebee-nouveau version.

`optirun --status`:
`Bumblebee status: Error (3.2.1): [XORG] (EE) Failed to load module "mouse" (module does not exist, 0)`

`optirun -vv glxinfo`:
[code]
`bumblebeed --debug`:

[code]

`uname -a`:
`Linux drpyser-laptop-1 4.7.3-200.fc24.x86_64 #1 SMP Wed Sep 7 17:31:21 UTC 2016 x86_64 x86_6

[2016-09-17 03:18] gsgatlin commented on #803
Sorry. How strange. try:

 bumblebee-nvidia --debug --force

On my machine here is the output:

https://paste.fedoraproject.org/429187/08203414/

Also, nouveau is no longer supported. I'm sorry. nouveau already has power saving. You should just use PRIME with that. I have not had a chance to update the docs. see:
https://github.com/Bumblebee-Project/Bumblebee/issues/773

Sorry about that. maybe th

[2016-09-17 03:25] gsgatlin commented on #773
Also, nouveau is no longer supported. I'm sorry. nouveau already has power saving. You should just use PRIME with that. I have not had a chance to update the docs. see:

https://github.com/Bumblebee-Project/Bumblebee/issues/773

So sorry about that.

[2016-09-17 03:26] gsgatlin commented on #773
sorry. ignore the noise.

[2016-09-17 03:26] gsgatlin commented on #804
Sorry. nouveau is no longer supported with bumblebee.

[2016-09-17 21:42] DrPyser commented on #804
Okay.

[2016-09-17 21:42] #804 closed

[2016-09-17 21:56] DrPyser commented on #803
[code]

[2016-09-18 10:23] karolherbst commented on #804
it would be still nice to refer to prime ;)

[2016-09-18 13:13] gsgatlin commented on #803
Can you post /var/log/nvidia-installer.log to a site such as pastebin.com or fpaste.org?

The problem is that the "nvidia-installer" program is crashing on your laptop for some reason.

[2016-09-18 14:25] gsgatlin commented on #803
Ok. Yeah. The installer wrapper (bumblebee-nvidia) detects if it "fails" but if it crashes part way through it doesn't detect that... hmnnn.  In any event, it needs to not crash in order to work on your machine. So hopefully it would be possible to figure out what is going on there.

[2016-09-18 14:27] gsgatlin commented on #803
Did it ever print out a green [ok]?

[2016-09-19 04:24] benklop commented on #585
@l1k thanks for the info - I suppose that means that using the Nvidia binary driver isn't supported with bumblebee on an MBP? That's probably the issue I'm facing, as I was trying to not use nouveau.

I'm using a hack [gpu-switch](https://github.com/0xbb/gpu-switch) to set the correct GPU then reboot when necessary. If you need help testing your prototypes, I'd be happy to offer assistance.

[2016-09-19 08:30] l1k commented on #585
@benklop: Yes, the nvidia driver isn't registering with vga_switcheroo then. Unless they add that, all bets are off.

gpu-switch only influences the switch state as set by the gmux EFI driver, but still both GPUs will be turned on. To turn the discrete GPU off and reduce power consumption, you can echo OFF to the vga_switcheroo debugfs interface but again, for it to appear nouveau is required...

[2016-09-19 20:03] DrPyser commented on #803
Sorry, I was being an idiot and aborted when I saw the warning. Still, the problem persist. The installation does print out a green `[ok]`. Still, the same problem persist(libGL.so missing, ...).

In case it might be useful, here's pastebin link for nvidia-installer.log: http://pastebin.com/QMmFj0Sc(I set an expiration date of 1 week).

[2016-09-19 20:06] DrPyser commented on #803
Also, a probably related problem is that my screen stays blank I wake up from sleep.

[2016-09-19 23:58] laurentdinclaux opened #805 "Bumblebee doesn’t switch off the discreet card (Ubuntu 16.04)"
Bumblebee doesn’t switch off the discreet card on Ubuntu 16.04.

`~ cat /proc/acpi/bbswitch
0000:01:00.0 OFF
~ optirun --debug glxgears
[45032.030881] [DEBUG]optirun version 3.2.1 starting...
[45032.030894] [DEBUG]Active configuration:
[45032.030896] [DEBUG] bumblebeed config file: /etc/bumblebee/bumblebee.conf
[45032.030897] [DEBUG] X display: :8
[45032.030899] [DEBUG] LD_LIBRARY_PATH: /usr/lib/n

[2016-09-20 00:41] laurentdinclaux commented on #805
I gave testing a try a

[2016-09-20 02:00] DrPyser commented on #803
Okay. I reinstalled Fedora 24, and now it works perfectly. I think the problem is that the nvidia module was blacklisted in /etc/modprobe.d/ or elsewhere.

[2016-09-20 02:00] #803 closed

[2016-09-20 02:05] laurentdinclaux commented on #805
I uninstalled, removed the bumblebee testing ppa, and reinstalled official Ubuntu packages but it didn't fix back running chrome :(

Syslog: https://gist.github.com/laurentdinclaux/4249a1886e3d176f1f701fcec0f15b06

[2016-09-20 02:33] laurentdinclaux opened #806 "Bumblee testing fails to run Chrome"
After giving the testing PPA a try on Ubuntu 16.04 (see #805), I cannot get Chrome to run with bumblebee (same goes for chromium). I tried resinstalling the Ubuntu's official bumblebee packages but it didn't fix back the issue. Before trying the testing ppa I was able to run chrome with optirun without an issue.

[code]

[code]

Syslog output: https://gist.github.com/laurentdinclaux/73c0b58cc7900c

[2016-09-20 13:29] nwoods opened #807 "Ubuntu 16.04 [ERROR]Cannot access secondary GPU - error: [XORG] (EE) Failed to load module "mouse" (module does not exist, 0)"
**Distro:** Ubuntu 16.04.1 LTS
**Kernel:** `4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
**Make and model:**
[code]
**Bumblebee version:** `optirun (Bumblebee) 3.2.1`

When trying to use optirun with Nvidia drivers `nvidia-370`, not Nouveau as in #804), I get an error message about the "mouse" module:
[code]

I tried a few solutions found online, inc

[2016-09-20 13:40] bluca commented on #807
The mouse message is always a red herring. Try the testing PPA: https://launchpad.net/~bumblebee/+archive/ubuntu/testing

[2016-09-21 09:29] nwoods commented on #807
Thanks for answering! Indeed the mouse thing was a red herring. It seems to come up enough that it might be worth a note on the Troubleshooting page.

In case it might help anyone else with the same issue, the problem was fixed by uncommenting the `BusID` line in `/etc/bumblebee/xorg.conf.nvidia` and replacing the number in it with the bus ID from `lspci | grep -i nvidia`. It looks like the same m

[2016-09-21 09:29] #807 closed

[2016-09-29 18:34] greggy commented on #764
I have the same issue. [ASUS GL552VW](https://www.asus.com/ROG-Republic-Of-Gamers/ROG-GL552VW/) I use Debian stretch, kernel 4.6.0.

The hack `acpi_osi=! acpi_osi="Windows 2009"` works for me but seems Nvidia card isn't using. Hope it helps!

[code]

[ASUSTeK_COMPUTER_INC.-GL552VW.tar.gz](https://github.com/Bumblebee-Project/Bumblebee/files/501420/ASUSTeK_COMPUTER_INC.-GL552VW.tar.gz)

[2016-09-30 09:20] vrobolab commented on #764
Clevo P640RE
Was having the similar issue:

0. `lspci` # everything is ok
1. `modprobe bbswitch`
2. `echo OFF > /proc/acpi/bbswitch`
3. `lspci` # system freeze

I have added `acpi_osi=! acpi_osi="Windows 2009"` to boot parameters and the system does not freeze anymore when I run `lspci`.

[2016-10-02 15:34] jryaonj commented on #749
I've got the same problem on Ubuntu 16.04, and removing package **xserver-xorg-legacy** really helps!
I use my laptop with only one external screen with HDMI connection (which means no consideration for xserver compatibility issues needed), and now everything seems OK.

[2016-10-03 06:24] bi0shacker001 opened #808 "Laptop hangs upon trying to launch X with bumblebee running"
Tested on: Archlinux, Ubuntu 16.04, Opensuse Tumbleweed, and Archlinux (again)

Bumblebee works fine when starting it after the system boots up. Setting it to start at boot causes the entire system to hang (kernel hard lock, not just graphics.)
Uses bbswitch for powersaving, and proprietary NVidia drivers.

system: MSI gl62-6qf
i7-6700HQ
12GB DDR4
NVidia GTX 960m graphics
3 drives (128GB generic M

[2016-10-03 10:09] Lekensteyn commented on #764
@greggy Your video card seems off based on `rev ff`, if you are happy enough with Intel graphics, do not bother loading the proprietary nvidia driver, it will break stuff.

@vrobolab `acpi_osi="!Windows 2015"` should already be sufficient for your model.

[2016-10-03 10:25] Lekensteyn commented on #808
You need to boot with `acpi_osi=! acpi_osi="Windows 2009"` as workaround. See https://github.com/Bumblebee-Project/Bumblebee/issues/764#issuecomment-234494238

[2016-10-03 10:25] greggy commented on #764
@Lekensteyn if I run something like `optirun glxgears -info` the outpur changes to:

[code]

Seems it works. Btw I tested my machine with 4.8 kernel from ubuntu guys, nothing changes. After startx the system freezy.

[2016-10-03 10:41] Lekensteyn commented on #764
@greggy ssdt4.dsl from your tarball suggests that `acpi_osi="!Windows 2015"` is also sufficient. You should not run startx when the video card is off. Having nvidia loaded when the card is off is also upsetting your machine. Just don't do that.

[2016-10-03 11:28] greggy commented on #764
@Lekensteyn do you mean don't start X server (startx) when

[code]

? But what is the best way to do it?

[2016-10-03 11:41] Lekensteyn commented on #764
@greggy Just run X with Intel graphics, you won't gain anything from running X on the Nvidia GPU since you cannot see it (unless you use PRIME). If you use want to use PRIME, disable bbswitch (`echo ON > /proc/acpi/bbswitch` optionally followed by `modprobe -r bbswitch`).

(If you consider using nouveau, note that kernel 4.6 is too old to support your hardware. 4.7 is needed for nouveau to recogni

[2016-10-03 14:07] greggy commented on #764
@Lekensteyn got it, thank you!

[2016-10-03 15:54] bi0shacker001 commented on #808
I tried that before posting this. It is also not affected by turning the card on with Bumblebee before launching X.

[2016-10-03 16:57] bi0shacker001 commented on #808
New issue made, as this one was closed without resolution, with an incorrect response.

[2016-10-03 16:59] bi0shacker001 opened #809 "Laptop hangs upon trying to launch X with bumblebee running (not related to current powersaving issue)"
Tested on: Archlinux, Ubuntu 16.04, Opensuse Tumbleweed, and Archlinux (again)
Bumblebee works fine when starting it after the system boots up. Setting it to start at boot causes the entire system to hang (kernel hard lock, not just graphics.)
Uses bbswitch for powersaving, and proprietary NVidia drivers. booting with acpi_osi=! acpi_osi="Windows 2009" as workaround has no effect, as does turning

[2016-10-03 18:18] Lekensteyn commented on #809
Duplicate of #808

[2016-10-03 18:18] #809 closed

[2016-10-03 18:20] Lekensteyn commented on #808
Issues can be re-opened, please do not create duplicates.

What have you tried to analyze the problem? Does the hang happen when bbswitch and nvidia are not in use? What about just having bbswitch without nvidia?

[2016-10-03 19:42] BernardoGO commented on #773
Is it normal to have less performance using prime+nouveau than using the Intel 5600?
I did exactly as @ArchangeGabriel proposed using DRI3 and it worked well but it has lower FPS than intel.

I have a GTX970m on P650SE.

[2016-10-03 20:13] bi0shacker001 commented on #808
I haven't attempted to use Nouveau with bbswitch, but the issue only occurs when Bumblebee starts BEFORE X. Starting bumblebee after X yields no issues. Starting X with bbswitch but no bumblebee yields no issues. Starting the laptop with Bumblebee and nouveau has the same issue. Starting laptop with Nouveau but no Bumblebee has no issues.

[2016-10-03 20:15] bi0shacker001 commented on #808
Sorry about the duplicate, also. It has been my experience that most projects don't read issue comments after they close them.

[2016-10-03 20:16] bi0shacker001 commented on #808
I didn't test actual Nouveau application usage, however. Nouveau leads to some flickering on X, which gives me massive headaches.

[2016-10-03 21:12] lemourin commented on #764
I have Razer Blade '14 2016 and I tried the `acpi_osi=! acpi_osi="Windows 2009"` workaround; it doesn't crash anymore, but it causes touchpad to stop working; also it causes some other weird malfunctions i.e. when I tried to compile vlc, i got segfault when it was running vlc-cache-gen; probably it's related with intel-microcode stuff being broken by the `acpi_osi` flag. So the workaround is kinda

[2016-10-03 21:18] egorbunov commented on #628
I'am not quite sure that this is the right thread, but I've run into the same issue with Fedora 24 (so linux kernel version is 4.7.5 > 3.19) and Geforce GT 540M:
[code]
It fails with this error messages either with Driver=nvidia or Driver=nouveau.
Some additional information:
[code]
My bumblbee.conf is (comments deleted):
[code]

If there is any workarounds, let me know, please =)
Thanks you =)

[2016-10-04 01:50] illuhad commented on #778
Any news on this? I have the same problem regarding OpenCL sharing, same error message. Sharing CUDA<->OpenGL works, so I assume my system configuration is correct. I use Arch Linux, with nvidia driver 370.28-1.

[2016-10-04 10:26] karolherbst commented on #773
@BernardoGO currently nouveau doesn't change the GPU clocks. Also things like glxgears are PCIe bottlenecked, so those won't be faster than intel ever even with full reclock support.

Even worse, your 970m is a GM204 GPU, which means we can't change the clocks without risking damaging the GPU, because without the signed PMU firmware from nvidia we can't
1. change the fan (not important for you)
2.

[2016-10-04 17:19] Lekensteyn commented on #808
If you enable nouveau (and disable bbswitch and nvidia, do NOT use Bumblebee with nouveau), then you will have power savings advantages. It is unlikely that flickering starts when nouveau (the kernel driver, not xf86-video-nouveau) since the Intel (i915) driver handles your primary display.

Please provide more details about your hardware configuration (`lspci -nn | grep 'VGA\|3D'`) and be more sp

[2016-10-05 05:01] avico commented on #764
Asus GL552VW (Nvidia GTX960M, Intel Skylake i7-6700HQ), BIOS - American Megatrends, Fedora 24, kernel 4.7.5-200.fc24.x86_64
`acpi_osi="!Windows 2015"` did not help, but `acpi_osi=! acpi_osi="Windows 2009"` did the trick, thank you.
[ASUSTeK_COMPUTER_INC.-GL552VW.tar.gz](https://github.com/Bumblebee-Project/Bumblebee/files/510043/ASUSTeK_COMPUTER_INC.-GL552VW.tar.gz)

[2016-10-05 06:19] greggy commented on #764
@avico I have the same laptop and behavior. I think we need patch DSDT using [link](https://www.tonymacx86.com/threads/guide-asus-rog-g551-552-gl551-552-series-skylake-i7-6700hq-hd-530-using-clover-uefi.195422/) The only problem can't find dsdt editor to apply patches automatically, manually I can miss something. Maybe we should cooperate with you?

[2016-10-06 19:23] gdkrmr commented on #805
i am having the same issue. I haven't tried the testing repository.

[2016-10-06 23:34] bi0shacker001 commented on #808
My graphics configuration is:
`00:02.0 VGA compatible controller [0300]: Intel Corporation HD Graphics 530 [8086:191b] (rev 06)
01:00.0 3D controller [0302]: NVIDIA Corporation GM107M [GeForce GTX 960M] [10de:139b] (rev ff)
`
I've tried booting with Bumblebee and Nouveau (with and without bbswitch), as well as Bumblebee with Nvidia (with and without bbswitch), and just Nouveau without Bumblebee. T

[2016-10-07 17:27] Lekensteyn commented on #808
Ok, let's try to get nouveau working **without** Bumblebee, bbswitch or nvidia. The following should help you get a working nouveau setup that also supported external monitors.

Ensure that bumblebee and bbswitch (and definitely nvidia) are removed or otherwise disabled. If you want to keep the bumblebee package on Arch Linux, disable the `blacklist nouveau` line with:

    ln -s /dev/null /etc/mo

[2016-10-07 20:14] bi0shacker001 commented on #808
I'll work on that in a little bit (I am on my way home from work), but is there any way we can do something similar using the proprietary drivers? I do a fairly large amount of 3D Animation, which is the entire point of the discrete chip, and I'd prefer to be able to avoid a massive drop in performance if at all possible. That being said, being able to use the nvidia card at all is better than not

[2016-10-07 23:01] Lekensteyn commented on #808
I have not tried the nvidia blob driver, but for that I guess that you could have a look at https://devtalk.nvidia.com/default/topic/957814/prime-and-prime-synchronization/

[2016-10-13 12:02] olleharstedt commented on #642
Same problem:

[code]

[2016-10-14 11:18] m4ng0squ4sh commented on #764
@lemourin [Here](https://wiki.archlinux.org/index.php/microcode) is a link which shows an example with Grub. The DSDT firmware fix has a small problem with screen brightness... I have to fix this soon.

[2016-10-14 12:45] lemourin commented on #764
@m4ng0squ4sh I'm using Grub2 because I'm using Ubuntu 16.10.
According to this bug report: http://savannah.gnu.org/bugs/?35238
Grub2 doesn't have support for multiple initrd images ;_;
Guess I'll have to install arch / use grub legacy ;d

[2016-10-14 15:55] m4ng0squ4sh commented on #764
@lemourin I just fixed the problem with the screen brightness. It is a complete new fix. Instead of overwriting the DSDT, the broken SSDT is now overwritten. Please check out the [new repository](https://github.com/m4ng0squ4sh/razer_blade_14_2016_acpi_fix). This fix is not Arch dependend. If this doesn't work, I'll need your SSDT files to compare our firmwares...

[2016-10-14 16:38] greggy commented on #764
@m4ng0squ4sh great news, congrats! Which patches did you use or manually?

[2016-10-14 16:42] m4ng0squ4sh commented on #764
@greggy Thanks. I didn't use a patch... I disassembled the firmware, fixed it and recompiled it ^^

[2016-10-14 16:52] greggy commented on #764
@m4ng0squ4sh could you share, please diffs for both changes?

[2016-10-14 16:53] lemourin commented on #764
@m4ng0squ4sh With the new fix my Razer can't find my root partition and then shows me (initramfs) shell prompt. At least it doesn't hang xd. I uploaded acpidumps here: https://bugs.launchpad.net/lpbugreporter/+bug/752542/comments/797

[2016-10-14 17:33] m4ng0squ4sh commented on #764
@greggy Please have a look at my source repository. The original and the patched files are present. The fix is quite simple and it's all about replacing OSYS with a constant value. Just dig into your DSDT and SDDT files and start searching for OSYS. You also have to find the SDDT file which is responsible for the discrete GPU stuff...

@lemourin Don't use my fix. You have a different firmware. Mig

[2016-10-14 18:05] lemourin commented on #764
@m4ng0squ4sh systemd-boot's ubuntu.conf:

linux           /vmlinuz
initrd   /razer_acpi_fix.img
initrd          /initrd.img
options         root=/dev/nvme0n1p6 rw

I had to copy vmlinuz, initrd.img and razer_acpi_fix.img files to /boot/efi because otherwise systemd-boot couldn't find them.
I bought my Razer in August this year.
dmidecode: [dmidecode.txt](https://github.com/Bumblebee-Project/Bumble

[2016-10-14 18:16] m4ng0squ4sh commented on #764
@lemourin We have the exact same Razer Blade. Your boot problem is caused by something different. I recommend to use partition UUIDs:

[code]

You can extract the UUID with
[code]

[2016-10-14 19:02] lemourin commented on #764
@m4ng0squ4sh It doesn't help, worth mentioning is the fact that with such systemd-boot entry file:

linux           /vmlinuz
initrd          /initrd.img
options         root=PARTUUID=ac0d4bf4-6dfd-4a92-b795-1a1ac4d96722 rw acpi_backlight=native acpi_osi=! acpi_osi="Windows 2009"

Ubuntu boots just fine(however this workaround sucks because the touchpad isn't working then). With `razer_acpi_fix.img

[2016-10-15 07:26] vrobolab commented on #764
nvme0n1p6 stands for [NVMe](https://en.wikipedia.org/wiki/NVM_Express) SSD.
Maybe the required `nvme` kernel module does not load.

[2016-10-15 10:43] vrobolab commented on #764
Possibly a wrong place to report but I have no exact information to open a kernel bug report.
For me 4.8 kernel version has introduced major problems with graphics (i915 driver?) which did not resolved with 4.8.1.
First of all - system hard freeze after some time of inactivity (10-30 minutes), does not even respond to REISUB so I have to power off by long pressing the Power button. Looks like some

[2016-10-16 22:08] notanewb commented on #805
I found the root of your issue. You see bumblebee was made before the kernel modules supporting nvidia_modeset were made. the best fix I can advise without looking at bumblebees code would be to rename the nvidia_modeset module and reboot/unload all the nvidia modules. It should work fine after that. the nvidia modules should be under /lib/firmware/(yourkernelversion)/video/ if not grep aroun or a

[2016-10-16 23:05] notanewb commented on #805
Found it. in src/modules.c it needs to unload the module. Currently it only checks for either nouveau or nvidia and unloads using libkmod accordingly. I love how well commented this program is made line 126-129 and 161 easy to find. The constant "driver" of 161 when defined as nvidia is a child of nvidia_modeset under libkmod's function. While it unloads it successfully it exits gracefully just fo

[2016-10-17 00:29] Lekensteyn commented on #764
@vrobolab 4.8 is running fine here with i915. What laptop do you have? There is a known issue with some laptops that require an `acpi_osi` workaround, see https://bugzilla.kernel.org/show_bug.cgi?id=156341

[2016-10-17 01:59] vrobolab commented on #764
https://github.com/Bumblebee-Project/Bumblebee/issues/764#issuecomment-250699160
I've tried both `acpi_osi=! acpi_osi="Windows 2009"` and `acpi_osi="!Windows 2015"`.

[2016-10-17 03:34] vrobolab commented on #764
WOW I have pinned down the screen flickering/tearing issue - it's not about the Linux kernel version or nvidia/bbswitch but about the IOMMU! I forgot that I've enabled IOMMU for 4.8 but had it disabled in 4.7 that's why I thought its the kernel 4.8 problem.
There are 2 lines on the screen where I put the mouse cursor and screen glitches appear - at 885'th and 1019'th pixel from the top. They appea

[2016-10-17 06:26] greggy commented on #764
@m4ng0squ4sh I covered your branch and got "clean" diff without spaces. Seems you just hardcodes instead `OSYS` using `0x07D9`. It's the same as using workaround `acpi_osi=! acpi_osi="Windows 2009"`. Especially these lines look funny:

[code]

[2016-10-18 02:50] vrobolab commented on #764
[offtop] I had no hard freezes yesterday with kernel 4.8 and IOMMU disabled. Seems that it's not a kernel 4.8 version issue but incompatibility between IOMMU and i915 Skylake graphics.
If you have some free time please verify this bug on your laptops - boot with `intel_iommu=on` option and:
1. slowly move the mouse cursor from the top to the bottom of the screen to check if there will be any glitc

[2016-10-18 09:39] Lekensteyn commented on #764
Interesting, I also experience flickering, did not relate it to me putting `intel_iommu=on` in cmdline.

[2016-10-18 09:53] heftig commented on #764
Do you still get tearing/flickering if you use `intel_iommu=on,igfx_off` ?

[2016-10-18 09:55] Lekensteyn commented on #764
I haven't tried that. So far it is annoying but I can live with it until it gets fixed.

[2016-10-18 11:11] Thaodan opened #810 "NVIDIA GPU is not supported since 4.8"
After updating to linux 4.8 the nvidia driver says your gpu isn't supported when trying to access with primus:

`
[Okt18 12:54] bbswitch: enabling discrete graphics
[  +0,926684] nvidia: module license 'NVIDIA' taints kernel.
[  +0,000001] Disabling lock debugging due to kernel taint
[  +0,529426] vgaarb: device changed decodes: PCI:0000:01:00.0,olddecodes=io+mem,decodes=none:owns=none
[  +0,00003

[2016-10-18 11:35] vrobolab commented on #764
@heftig no flickering with `intel_iommu=on,igfx_off` thanks! Well, no "stable" flickering on 885th and 1019th pixels height but still some random glitches/flickering, same as without IOMMU.
@Lekensteyn please comment on this bug about your hardware: https://bugzilla.kernel.org/show_bug.cgi?id=177791 and check for lines of pixels with "stable flickering".
Also what about hard freeze after some time

[2016-10-18 12:01] bluca commented on #810
What GPU is that?

[2016-10-18 16:07] Thaodan commented on #810
Nvidia Quadro M2000M (in Dell M7510)

There are users that use Manjoro Linux reporting similar issues [1]

[1] https://forum.manjaro.org/t/bumblebee-not-working-under-4-8-kernel/10676/8

[2016-10-18 16:21] Knight81 commented on #805
I am also having the same issue, tried the testing repository but system didn't boot on.

[2016-10-18 20:22] sylvio-neto commented on #764
I'm having this error:

with `intel_iommu=on` when using Virtualbox and Wayland or when using a lock-screen command on X.Org. I had a lot of flickering with Nvidia on Windows and a little bit on Linux, but seems to be more stable after kernel 4.7.

[2016-10-18 21:09] m4ng0squ4sh commented on #764
@lemourin Could you open an issue at the project repository. It's better to handle it there.

@greggy No. The previous DSDT fix was more complicated. The current fix is quite simple, as you mentioned already. However I am only setting the dedicated GPU ACPI table to Windows 2009 mode. All other tables should not be touched. Otherwise the touchpad and screen brightness breaks...

[2016-10-18 21:58] lemourin commented on #764
@m4ng0squ4sh https://github.com/m4ng0squ4sh/razer_blade_14_2016_acpi_fix/issues/1
No problem ;p.

[2016-10-19 04:09] vrobolab commented on #764
I've got a hard freeze yesterday with `intel_iommu=on,igfx_off` so `igfx_off` does not completely fix the issue or the hard freeze is not connected with IOMMU.
I still think that 4.7 is more stable than 4.8.

[2016-10-20 07:17] olifre commented on #810
That seems to be the same I described here:
https://devtalk.nvidia.com/default/topic/971733/linux/nvidia-gtx-960m-not-supported-anymore-by-370-28-/?offset=5#4999717
In short: Until nvidia changes their driver, add `pcie_port_pm=off` to your kernel commandline (you will then not get everything from the new energy savings introduced by 4.8).

Note that this affects everybody who is part of the follo

[2016-10-20 08:00] Thaodan commented on #810
As far as I read the first commit revered in the forum post:
If the card is advertised as hotplug the pm runtime won't power it to d3 cold
and as bumblebee/optimus is somekind of a hotplug mechnism this should apply
to the card too or not?
Is it possible to set this flag in bbswitch or somewhere else?
Or would it be better to place this flag in the gpu driver?

[2016-10-20 08:04] olifre commented on #810
Definitely that. That's since this also affects machines even without bumblebee.
If you just boot without starting bumblebeed and never loading bbswitch, the nvidia driver will still fail to detect the card - so the driver claiming the device (nvidia) should take care.
I guess it is even possible to do that in a better way than claiming to be hotpluggable (which the pcie interface to which the car

[2016-10-20 08:28] Thaodan commented on #810
So its a "bug" that needs to be fixed in nvidia/nouveau.
But the problem is that nvidia is slow.
Would it be possible to do one of the solutions either in bumblebee or
bbswitch?

[2016-10-20 08:33] olifre commented on #810
AFAIK they do not even claim to support kernel 4.8 yet, so if we're lucky, it could already be in the next driver release.

I'm not sure, but the bumblebee maintainers will know ;).

For an immediate "fix", the trick to add `pcie_port_pm=off` to kernel commandline is sufficient.

[2016-10-20 13:19] Thaodan commented on #810
Ah I didn't noticed that you're not a maintainer (:

Should the dirty fix change something for the other devices in the "typical"
notebook?

[2016-10-20 13:26] olifre commented on #810
It could lead to slightly higher power consumption since unused PCI bridges can not enter the deepest sleep state anymore.
However, since this (`pcie_port_pm=off`) was in any case what was done in kernel 4.7 and before, and it's also what the kernel 4.8 still does on any machine with a BIOS released before 2015, I don't expect this is significant on a "typical" machine.
But I'm not sure whether th

[2016-10-21 00:35] hucste opened #811 "Error: Bad return status for module build on kernel [Debian Sid - Kernel 4.7|4.8]"
Hi, i attempt to install Bumblebee onto Debian Sid, with kernel 4.7 or 4.8.

But, during install, it hang with this message:

I paste the [make.log](https://paste.debian-fr.xyz/?09b4e235b2b03f1e#kX3r/Ew887tnWfLtXKPFRPUfkLRfzisj8Ypwiz7jpms=)!

I installed the Bumblebee projet segun my [tutorial](https://wiki.debian-fr.xyz/NVidia_Optimus_Bumblebee)! (in french) ;-)

All others packages are installed

[2016-10-21 11:49] bluca commented on #811
This is not really a bumblebee issue, but a driver kernel module issue, so you should report it against the distribution bug tracker. So I'll close the issue for now, but if you are seeing problems specific to bumblebee please do come back.

Also it looks like you are using a different kernel, not the default one in sid. So please also test against that.

I tested the kernel module against the 4.8

[2016-10-21 11:49] #811 closed

[2016-10-21 15:24] Lekensteyn commented on #810
Very true, the boot option reverts to the pre-4.8 behavior.

Have you (via udev rules or some other "laptop mode tools") enabled runtime PM? You can check that by reading `/sys/bus/pci/devices/0000:01:00:0/power/control`. If it says "auto", then it is enabled. If it is "on", then I would expect it to have the same behavior as adding the boot option.

[2016-10-21 15:33] Lekensteyn commented on #805
There are apparently two issues here:

 - newer versions of nvidia use several modules (`nvidia_drm`, `nvidia_modeset`, etc.) which in older bumblebee configurations prevent the power from being turned off. Fix for this is to try latest git develop (or the testing PPA).
 - chrome apparently "not working". What is the full stderr and why is it not starting?
 - @Knight81 "not booting up". Is this th

[2016-10-21 20:43] Thaodan commented on #810
do you use nvidia prime? When yes you wont get the issue as your egpu isn't disabled before using it.

[2016-10-22 16:05] Lekensteyn commented on #810
Even if you use nvidia, you might still run into issues if you enable runtime PM for all devices using a udev rule or using "laptop mode tools" before the nvidia driver is loaded (and have kernel 4.8+ without the `pcie_port_pm=off` parameter and a new enough laptop).

[2016-10-23 10:17] ArchangeGabriel commented on #319
So, we decided to go without waiting bbswitch 1.0 finally. We still agree on removing nouveau support, right? This will need a point in the release note (like for people wanting to switch dynamically to nouveau, stop bumblebeed daemon and `modprobe -r bbswitch`, then `modprobe nouveau` and `DRI_PRIME=1 <program>` — which require DRI3, but I’ll suppose any system with bumblebee 4.0 will be DRI3 any

[2016-10-23 17:12] inuritdino commented on #764
The same X hard freezing after booting without nvidia module after entering password in GDM.
Asus x550vx laptop, Intel i7 6700HQ, GeForce GTX 950M.
Debian Stretch (currently testing)
`acpi_osi=! acpi_osi="Windows 2009"` removed the freeze

[2016-10-23 21:16] Lekensteyn commented on #764
Without `intel_iommu=on`, I still experience flickering which is followed by:
`[drm:intel_cpu_fifo_underrun_irq_handler [i915]] *ERROR* CPU pipe A FIFO underrun`

Arch Linux, Clevo P651RA Linux 4.8.4, runtime PM enabled for all devices, using nouveau, cmdline `acpi_osi="!Windows 2015"`. The flickering occurs at times (basically the screen shakes, but then it is normal again). No hard freezes obser

[2016-10-24 03:54] vrobolab commented on #764
@Lekensteyn check this https://bugs.freedesktop.org/show_bug.cgi?id=97450

[2016-10-24 04:25] sammcj commented on #42
Howdy, This is still an issue even with the latest (24/10/2016) bumblebee.

- NVidia drivers x86_64-367.57
- Fedora 25, all updates applied daily
- Stable kernel 4.8.3-300.fc25
- PCI Device: `01:00.0 3d controller: NVIDIA Corporation Device 134b (rev a2)`
- Xiaomi MI laptop

Error:

```bash Bumblebee daemon reported: error: [XORG]  (EE) /dev/dri/card0: failed to set DRM interface version 1.4: Perm

[2016-10-24 07:06] Knight81 commented on #805
@Lekensteyn I think that it's the same, mine is Gnome Ubuntu 16.04 and the kernel version is 4.4.0-45-generic, and what I mean by not booting up is that it begins to load, then the computer freezes.

[2016-10-24 10:16] Lekensteyn commented on #805
If your laptop freezes then you could be affected by https://github.com/Bumblebee-Project/Bumblebee/issues/764#issuecomment-234494238 (please note your laptop model).

[2016-10-24 10:19] Lekensteyn commented on #42
@sammcj the last digit of a PCI address is called a function. **If** you have an Optimus laptop with multiple GPUs, please check with your distro documentation on properly installing/configuring Bumblebee.

[2016-10-24 10:21] Lekensteyn commented on #319
Yes, drop nouveau support from Bumblebee and write/point to some documentation on using nouveau properly in an Optimus setup (nouveau wiki?).

FYI, I will be less available in the next 2-3 weeks due to exams and delayed project work ;)

[2016-10-24 10:45] Thaodan commented on #810
Using the pm-rework branch which enables using runtime pm is bbswitch
worksaround the issue that the nvidia driver doesn't handle runtime pm.

Could someone with an older laptop that doesn't use runtime pm and someone
else with an newer laptop if the newer version works/fixes the issue?

[2016-10-24 11:30] Lekensteyn commented on #810
That branch is unfinished, last time I was working on it there was still an Oops somewhere. If you have no NVIDIA HDMI audio device, then it might be safe to use though (revert Bumblebee-Project/bbswitch@e0c68599bed6c11e37d5228a3c014b9575bf9edb just to be sure).

[2016-10-25 07:38] Knight81 commented on #805
Thanks! Now I can boot with the testing branch and it works perfectly, discrete video card switch off and on correctly.

[2016-10-25 09:58] l0l1t4 opened #812 "Jessie, Skylake & Nvidia GTX 950m and Bumblebee"
Hi everyone.

http://forums.debian.net/viewtopic.php?f=7&t=130272

What I do wrong? Can you help me please?

[55562.416881] [DEBUG]Reading file: /etc/bumblebee/bumblebee.conf
[55562.417113] [DEBUG]optirun version 3.2.1 starting...
[55562.417124] [DEBUG]Active configuration:
[55562.417131] [DEBUG] bumblebeed config file: /etc/bumblebee/bumblebee.conf
[55562.417139] [DEBUG] X display: :8
[55562.4171

[2016-10-25 12:07] bluca commented on #812
Which version of the drivers and bumblebee packages are you running?

With the 950 you'll need the drivers from backports.

```apt-get install -t jessie-backports bumblebee-nvidia``` should pull down everything you need.

[2016-10-25 12:46] l0l1t4 commented on #812
Hi, Bluca. thanks for answer.

I just added to  /etc/apt/sources.list

Then install drivers from backports

Then reboot my laptop.

Now its runs

● bumblebeed.service - Bumblebee C Daemon
   Loaded: loaded (/lib/systemd/system/bumblebeed.service; enabled)
   Active: active (running) since Вт 2016-10-25 15:36:38 MSK; 1min 6s ago
 Main PID: 628 (bumblebeed)
   CGroup: /system.slice/bumblebeed.servic

[2016-10-25 12:56] bluca commented on #812
Check what the value of BusID is in the file /etc/bumblebee/xorg.conf.nvidia, and if it does not matches (or is not set), set it to match what lspci tells you, the restart bumblebeed and try again.

Also you don't need to run optirun with sudo.

If this doesn't work either, then get the logs from journalctl, especially interested to see if the kernel modules get loaded.

Finally, post the exact la

[2016-10-25 13:20] l0l1t4 commented on #812
#   you can manually set it here.
#   To get the BusID prop, run `lspci | egrep 'VGA|3D'` and input the data
#   as you see in the commented example.
#   This Setting may be needed in some platforms with more than one
#   nvidia card, which may confuse the proprietary driver (e.g.,
#   trying to take ownership of the wrong device). Also needed on Ubuntu 13.04.
    BusID "PCI:01:00:0"

I just uncom

[2016-10-25 13:25] l0l1t4 commented on #812
Do you want to see /var/log/kern.log in pastebin ?

[2016-10-25 13:27] bluca commented on #812
journalctl --since "2 minutes ago" immediately after you run optirun should have everything, yes in pastebin please

[2016-10-25 13:33] l0l1t4 commented on #812
Here you are.
http://pastebin.com/izA9w8PR

[2016-10-25 13:36] l0l1t4 commented on #812
And full log with "optirun"

http://pastebin.com/uK6UtvDb

[2016-10-25 15:31] l0l1t4 commented on #812
Debian guys says me that Jessie does't support "Skylake" and i need to waiting "Stretch Release" .

[2016-10-25 18:14] Thaodan commented on #810
Using the pm-rework branch which enables using runtime pm is bbswitch
worksaround the issue that the nvidia driver doesn't handle runtime pm.

Could someone with an older laptop that doesn't use runtime pm and someone
else with an newer laptop if the newer version works/fixes the issue?

[2016-10-25 18:21] olifre commented on #810
Yes, runtime PM is active on that machine: I'm using laptop-mode-tools.
In addition, I have enabled PCIe-ASPM for all ports in the UEFI (it's one with unlocked features) and I'm also using "pcie_aspm=force".
Only after all this, I could achieve maximum battery runtime almost comparable to Windows on that laptop (sadly ASPM for the NIC and card reader is not working, even in Windows, so the machine

[2016-10-27 09:17] bluca commented on #812
That sounds reasonable, otherwise I suspect you'd need to fetch at a minimum kernel, firmware, xorg drivers, mesa and libdrm from backports.

So I'll close this for housekeeping for now, if you still have problems once you upgrade please do come back.

BTW given it's Skylake it's new hardware, and there were other reports of problems due to ACPI, see these discussions on bbswitch:

https://github.

[2016-10-27 09:17] #812 closed

[2016-10-28 05:41] tektutor commented on #616
I had the same issue when I ssh into my Ubuntu VM from my Macbook Pro.  However, installing the below Nvidia graphics driver on my Ubuntu 16.04 64-bit OS fixed the issue for me. Hope this helps someone.

sudo apt-get install nvidia-331

[2016-10-28 17:16] bluca commented on #784
Thanks for checking - so given it's reportedly fixed now, I'll close for housekeeping. Please reopen if you still have problems on Tumbleweed!

[2016-10-28 17:16] #784 closed

[2016-10-28 19:11] thesourcehim commented on #153
Could you please update the package? Current one does not compile for 4.8 kernel.

[2016-10-28 19:18] gsgatlin commented on #153
Hey, it looks like there is a 367.57 available. I can try to see if the patch works on that one's installer.

Where is 4.8? Is it on fedora 24 or only fedora 25? (I'll need to test it which is why I ask)

[2016-10-28 19:20] thesourcehim commented on #153
It's in F24 repository (might still be in updates-testing)

28.10.2016 22:18, gsgatlin пишет:

[2016-10-28 19:44] godsic commented on #153
tried 375.xx yesterday. Works without patch. bumblebee-installer needs to be modified to remove those extra flags provided by the patch.

[2016-10-29 16:13] etam commented on #782
I sometimes have the same problem. The solution: try again once or twice. Then it just works fine.

[2016-10-31 08:58] gsgatlin commented on #153
ok. Sorry for the delay. You can dnf update to the newest version now and it should work on 4.8 kernel.

bumblebee-nvidia-367.57-1

This also fixes a problem on centos /rhel 7 with efi systems on first install.

I modified the shell script in this way:

https://paste.fedoraproject.org/464608/78113771/

I updated this script in both "managed" and "unmanged" (noarch) packages. for unmanged this is v

[2016-11-01 15:56] kmare commented on #810
Fedora 24 just updated to the 4.8.4 kernel. I'm using the bumblebee fedora repo, updated as normal and everything seems to be fine. What exactly is NOT supposed to be working with the 4.8 kernel?

[2016-11-01 16:01] olifre commented on #810
To trigger the issue, you have to have:
- A BIOS released >=2015 (the "year" discoverable with `dmidecode` counts). That's since the kernel only activates PCI port power management in this case. Alternatively, use `pcie_port_pm=force`.
- You likely need PCI runtime power management activated, e.g by using laptop-mode-tools (never tested without).

[2016-11-02 02:50] seekermoc commented on #810
I'm having the same problem on my laptop with a GTX 970M. After updating the kernel from 4.7.9 to kernel 4.8.4 on Fedora 24, bumblebee's proprietary driver wouldn't install. I didn't think anything of it, as the same thing happened when I upgraded from 4.6 to 4.7, but it was then fixed about a week later with an updated bumblebee-nvidia package.

Today, about a week after Fedora 24 moved to the 4.

[2016-11-02 10:11] olifre commented on #810
I expect your issue will vanish if you add (as discussed previously) `pcie_port_pm=off` to your kernel commandline which reverts PCIe port power saving behaviour to the pre-4.8 state.

A better fix could be done by nvidia, or a different workaround could be implemented in bumblebee (but since the issue can also be reproduced without bumblebee, I rather think the correct fix should enter the nvidia

[2016-11-02 18:35] l0l1t4 commented on #812
Hi. again. Good news! I'm just install Archlinux and Bumblebee is working now! :)  Red eyes and grow beard, lol.

Processor: i7 6500U (Skylake)
Integrated Graphics:  Intel HD 520
Discrete Graphics: Nvidia 950M

optirun -b none nvidia-settings -c :8  (work)
optirun glxgears (work)
optirun glxspheres64 (work)

tee /proc/acpi/bbswitch <<<ON (work)
tee /proc/acpi/bbswitch <<<OFF (work)

cat /proc/acpi

[2016-11-02 22:52] Lekensteyn commented on #782
@Fathardie If you check with `strace -tt` you will also see milliseconds. Can you show a fuller strace log? It is possible that the initial `XOpenDisplay()` call fails, but then it should just retry for up to 10 seconds. Is it hanging in a `read()` call?

[2016-11-03 00:52] seekermoc commented on #810
Ok, I added the kernel parameter to /etc/default/grub and ran "grub2-mkconfig -o /boot/grub2/grub.cfg" rebooted, and tried again, but I'm still getting the same error. Is there a way to verify whether the command line edit took effect?

[2016-11-03 05:49] Thaodan commented on #810
Yes look at /proc/cmdline

Another work around would be to use a newer bbswitch that supports pm
runtime suspend.

[2016-11-03 07:06] seekermoc commented on #810
Thanks. It's showing that for whatever reason grub2-mkconfig isn't actually editing my commandline, but that it works when I manually add it during boot.

That said, even though that will allow me to load the nvidia module, and running bumblebee-nvidia --check shows that everything is working, I can't actually open anything using optirun or primusrun. When I do I get the following error (with or w

[2016-11-03 19:28] ArchangeGabriel commented on #319
Sadly, I had (and still have) to postpone this on my side too, I’ve been overbusy+seek for the past 10 days, and I’ve just seen I won’t have any free time available before at least december…

[2016-11-03 20:55] Lekensteyn commented on #319
Ok, no problem, maybe I can do some additional QA now that I can test the nvidia blob again. Still in exam period, but it is an idea for the moments thereafter :)

[2016-11-04 00:25] seekermoc commented on #810
Also, regardless of whether I add the pcie bit to the kernel command line, running `cat /sys/bus/pci/devices/0000\:01\:00.0/power/control ` always returns "auto"

Also, when I add the pcie line, and try to primusrun or optirun, the Nvidia GPU will turn on (even though I receive the error and the glxgears won't open) and won't shut back off again. I can see when the Nvidia GPU is on or off from a L

[2016-11-04 04:59] seekermoc commented on #810
dmesg gives the following output:
[code]

[2016-11-05 13:03] gojun077 opened #814 "Problem compiling NVIDIA-Linux-x86_64-260.19.36 with bumblebee-nvidia on Fedora 24"
**Distro**: Fedora 24
**Kernel**: Linux u36jcFedora 4.8.4-200.fc24.x86_64 #1 SMP Tue Oct 25 13:06:04 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
**Manufacturer and Model**:
baseboard-manufacturer: ASUSTeK Computer Inc.
baseboard-product-name: U36JC
baseboard-version     : 1.0
system-manufacturer   : ASUSTeK Computer Inc.
system-product-name   : U36JC
system-version        : 1.0
bios-vendor           :

[2016-11-05 13:31] gojun077 commented on #814
I was able to successfully install the Nvidia driver for GeForce 310m by trying a different binary blob. The problem was I was using a driver from 2011.01.21 found through the Nvidia page for the GeForce 310m drivers: http://www.nvidia.com/object/linux-display-amd64-260.19.36-driver

However more recent UNIX drivers for legacy Nvidia GPU's must be downloaded at a different URL:
http://www.nvidia.c

[2016-11-05 13:31] #814 closed

[2016-11-05 14:18] Lekensteyn commented on #810
@seekermoc The `power/control` state is not affected by `pcie_port_pm=off`. When the latter opiton is given, enabling runtime PM for the port (something like `00:01.0`, not `01:00:0`) will have no observable effect.

There is a bbswitch branch (`pr-rework` for example), but these are not suitable for use, it can cause an Oops last time I was working on it. At that time I shifted priority to nouvea

[2016-11-05 17:33] Thaodan commented on #810
I'm using the branch without the commit mentioned and it works fine without the
Oops.
My device is a dell precision m7510.

I have the gpu enable on exit on in bumblebeed and stop and start it after
every suspend.

[2016-11-08 17:40] arcivanov commented on #810
Bump, same issue here Dell Precision 7510, Quadro M2000M, BIOS 1.8.3 (Oct 2016), Fedora 24, kernel 4.8.6-201.

The driver doesn't even install properly since the kernel module doesn't load.

[code]

[2016-11-08 17:54] Thaodan commented on #810
Is objtool inclued in your kernel header pkgs? If not it wont build.
Try the pm-rekwork branch without the last commit, I have exactly the same
system as you and it works with that version.

[2016-11-08 18:28] arcivanov commented on #810
@Thaodan yep /usr/src/kernels/4.8.6-201.fc24.x86_64/tools/objtool/objtool

[2016-11-10 00:08] AsmodeanWoT opened #815 "Bumblebee not working"
So I've been searching for quite a while now how to solve this problem. Nothing seems to work and it's really frustrating. I have an Acer Aspire  E5-575G56Y with an Intel i5-6200U and a NVidia 950M and I'm running Antergos. And I just can't seem to get Bumblebee working. The initial problem was, that I was getting a "GPU driver could not be loaded" error. I tried different things and then it seeme

[2016-11-10 00:15] AsmodeanWoT commented on #815
`[asmodean@maschine ~]$ optirun --status
Bumblebee status: Ready (3.2.1). X inactive. Discrete video card is on.

[asmodean@maschine ~]$ optirun pwd
[   55.826609] [ERROR]Cannot access secondary GPU - error: Could not load GPU driver

[   55.826800] [ERROR]Aborting because fallback start is disabled.`

`[asmodean@maschine ~]$ sudo bumblebeed --debug
[sudo] password for asmodean:
[   36.888436] [DE

[2016-11-10 01:21] edoantonioco commented on #815
Isnt this related to #810?

[2016-11-10 01:40] AsmodeanWoT commented on #815
Yeah that seems to have fixed the not being able to turn it off issue, thanks! :)

[2016-11-10 01:41] AsmodeanWoT commented on #815
But it still acts weird when i try to run games with it

[2016-11-10 10:00] Lekensteyn commented on #815
Some applications show what "GL renderer" they use. If you see something with "Mesa DRI Intel", then it is your iGPU, otherwise it is likely your dGPU.

[2016-11-10 10:01] Lekensteyn commented on #810
@arcivanov Have you tried adding `pcie_port_pm=off` to your cmdline?

[2016-11-10 11:38] Whinegum commented on #628
Hey,
I've got the same Issue with Debian jessie (stable). Two months ago everything worked fine, but I can't remember the update which might have caused the problem.
I'm running bumblebee 3.2.1-7 with version 340.96-1 of the nvidia graphics driver. (linux kernel version 3.16.0-4-amd64).
If I got you right, that should be exactly the working configuration.

I've already tried to add the kernel-para

[2016-11-10 11:40] bluca commented on #628
Those 2 workarounds solved the issue for everyone who has reported this to us on Debian.

Is using the kernel from jessie-backports an option for you?

[2016-11-11 07:23] greggy commented on #764
I have ASUS ROG GL552VW and workaround `acpi_osi=! acpi_osi="Windows 2009"` for me works like a charm. Asus released new BIOS version 300, what do you think about updating it? :)

[2016-11-11 10:37] EmreOvunc opened #816 "Xlib: extension "GLX" missing on display ":0.0"."
Hello, I have an error when I want to run optirun like;

[code]

[code]

[code]

[code]

`You do not appear to be using the NVIDIA X driver.  Please edit your X configuration file (just run "nvidia-xconfig" as root), and restart the X server.
`

I tried to reinstall bumblebee and xserver-xorg-core packets, but I take same error anytime.

[2016-11-11 10:40] Lekensteyn commented on #764
@greggy Just checked the BIOS 300 image from https://www.asus.com/support/Download/3/772/0/3/wTAlhCWbY6urQkZ3/45/, there are no changes to the ACPI table and the description "Update FW" does not seem to suggest that upgrading helps.

[2016-11-11 10:41] bluca commented on #816
Distribution? Versions of the packages involved?

Also do not run optirun with sudo, there's no need. And to run nvidia-settings you need:

```optirun nvidia-settings -c :8```

[2016-11-11 10:52] pietrondo commented on #810
same problem (asus laptop nvidia 950m):
linux kernel 4.8.6
and bumblebee installed

`[ 9583.143030] nvidia: module license 'NVIDIA' taints kernel.
[ 9583.143031] Disabling lock debugging due to kernel taint
[ 9583.600930] nvidia 0000:01:00.0: enabling device (0000 -> 0003)
[ 9583.601019] NVRM: The NVIDIA GPU 0000:01:00.0 (PCI ID: 10de:139a)
               NVRM: installed in this system is not supp

[2016-11-11 10:53] EmreOvunc commented on #816
[code]

It works, I mean, it does not give any error and opens the settings page.

[code]

[code]

[code]

`ii  bumblebee                             3.2.1-13~bpo8+1                      amd64        NVIDIA Optimus support for Linux`

[code]

[2016-11-11 10:55] bluca commented on #816
So with the right parameters and without sudo now it works? Or do you still have errors?

[2016-11-11 11:20] EmreOvunc commented on #816
It works now , but 'optirun glxgears -c :8' gives me no sense.

[code]

and

[code]

I can not understand how to see fps values by usiing graphic card with optirun.

[2016-11-11 11:28] bluca commented on #816
-c :8 is an option of nvidia-settings, to point it to the right xorg.
optirun glxgears should work just fine by itself. Does it?

[2016-11-11 11:29] EmreOvunc commented on #816
[code]

[code]

[2016-11-11 11:38] bluca commented on #816
Kernel version? What's in the journal (or xorg log) when you run optirun?

[2016-11-11 13:25] EmreOvunc commented on #816
`Linux PC 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux`

[code]

[code]

[2016-11-11 13:34] bluca commented on #816
If you run:

```sudo update-glx --config glx```

Is it set to ```/usr/lib/nvidia/bumblebee``` ? If not, set it.

If that is ok as well, given you are running with 3.16, do what /usr/share/doc/bumblebee/README.Debian suggests:

[code]

[2016-11-11 13:59] EmreOvunc commented on #816
It was set to /usr/lib/nvidia , then I changed it to /usr/lib/nvidia/bumblebee

[code]

[code]

[2016-11-11 14:00] EmreOvunc commented on #816
[code]

[2016-11-11 14:01] bluca commented on #816
If it was set to nvidia, X shouldn't work at all... What desktop environment are you using?

[2016-11-11 14:02] bluca commented on #816
Also make sure to restart X (or log out / log back in) and restart bumblebeed.service after the update-glx command

[2016-11-11 14:15] EmreOvunc commented on #816
Thank you for your understanding, it works and it does not give any error :)

[2016-11-11 14:19] bluca commented on #816
No problem, closing now since it's solved

[2016-11-11 14:19] #816 closed

[2016-11-11 16:09] olifre commented on #810
Hi @pietrondo @arcivanov and for sure others,
just to let you know, nvidia asked me for reproduction steps and an nvidia-bugreport here:
https://devtalk.nvidia.com/default/topic/971733/linux/-370-28-with-kernel-4-8-on-gt-2015-machines-driver-claims-card-not-supported-if-nvidia-is-not-primary-card/
it might help if people using different distributions (less individually configured than my Gentoo...

[2016-11-11 21:41] pietrondo commented on #810
which info do you need?

[2016-11-11 22:52] olifre commented on #810
I am fine - I just think nvidia (in the board which I linked) could need additional input (logfiles from nvidia-bugreport.sh, which operating systems are effected etc) to help them reproduce the issue.

[2016-11-11 23:16] pietrondo commented on #810
I put here? (nvidia-bugreport.sh)
and to run nvidia-bugreport under my laptop i need to:
sudo optirun nvidia-bugreport.sh ?

Pietro Capriata

http://www.pietrocapriata.me

CONFIDENTIALITY DISCLAIMER
Le informazioni contenute in questo messaggio di posta elettronica e negli
allegati sono riservate e confidenziali e ne sono vietate la lettura,
l'uso, la copia, la comunicazione e la diffusione in qua

[2016-11-11 23:37] Lekensteyn commented on #810
Have you folks tried the `pcie_port_pm=off` boot option? If that helps, it would be a great hint already for what went wrong.

[2016-11-11 23:54] BuBuaBu commented on #810
I added the `pcie_port_pm=off` option and now the module load properly with a Quadro m1000m and Kernel 4.8.6

[2016-11-12 00:32] seekermoc commented on #810
Yes, but can you actually use primusrun or optirun to start a program? Even after loading the driver module, I still can't actually use it for anything.

[2016-11-12 00:45] arcivanov commented on #810
@olifre thanks, posted.

[2016-11-12 01:26] arcivanov commented on #810
pcie_port_pm=off worked for me on Fedora 24 with 4.8.6

[2016-11-12 11:25] omeryagmurlu commented on #764
My Lenovo Z510 (i7-4702MQ, Geforce 740m) (old BIOS) also had this issue, and workaround `acpi_osi=! acpi_osi="Windows 2009"` worked.

[2016-11-12 11:47] Thaodan commented on #810
Could you also try the pm rework branch without the last commit?

[2016-11-12 13:08] obernardovieira opened #817 "Will it be available for Xenial ?"
thats it

[2016-11-12 17:54] bluca commented on #817
It already is, both in the official repo and on our ppa:

http://packages.ubuntu.com/xenial/bumblebee
https://launchpad.net/~bumblebee/+archive/ubuntu/testing

[2016-11-12 19:27] obernardovieira commented on #817
Ohh, you're right. I'm so sorry.
Because I was using
`sudo add-apt-repository ppa:bumblebee/stable`
instead and this gave me an error saying it's not available for xenial yet.
Yhank you btw :+1: :smile:

[2016-11-12 19:27] #817 closed

[2016-11-13 19:44] merkur04 opened #818 "Google-Earth not running with primus/optirun"
[Xorg.8.log.txt](https://github.com/Bumblebee-Project/Bumblebee/files/588006/Xorg.8.log.txt)
[optirun _command.txt](https://github.com/Bumblebee-Project/Bumblebee/files/588007/optirun._command.txt)
[bumblebee.conf.txt](https://github.com/Bumblebee-Project/Bumblebee/files/588011/bumblebee.conf.txt)

Hello everybody!

I'm not sure if this is really a bumblebee issue. Starting googleearth with the co

[2016-11-13 20:14] bluca commented on #818
Do you have the i386 nvidia libraries installed? You can install all of them via the metapackage nvidia-driver-libs-i386 if not

[2016-11-13 20:29] merkur04 commented on #818
Thank you for your quick reply :)

I installed:
nvidia-driver-libs:i386/jessie-backports libnvidia-eglcore:i386/jessie-backports.
There were some dependencies which had also been installed:

libegl-nvidia0:i386{a} libegl1-glvnd-nvidia:i386{a} libgldispatch0-nvidia:i386{a} libnvidia-eglcore:i386 nvidia-driver-libs:i386

Installed also "nvidia-driver-libs-i386:i386"

Then tried again (without a rebo

[2016-11-13 20:37] bluca commented on #818
If you run ```sudo update-glx --config glx``` is /usr/lib/nvidia/bumblebee selected?

[2016-11-13 20:48] merkur04 commented on #818
Yes, the automatic modus.

[2016-11-13 20:51] bluca commented on #818
Do other 32bit applications work?

[2016-11-13 20:57] seekermoc commented on #810
I'm not sure if I did it right, but I downloaded the pm-rework branch without the latest comment, ran 'make' and then 'sudo make load' in the downloaded directory. It doesn't look like it did much. I can successfully turn the dGPU on and off using 'sudo tee /proc/acpi/bbswitch <<<ON|OFF'. I know it works because I can see my dGPU LED indicator switch on and off. However, I still get the same error

[2016-11-13 20:58] merkur04 commented on #818
I've only Skype as a 32-bit version. And it runs without a problem.

I've also deleted googleearth, rebuild and installed it again, reinstalled also all nvidia-driver packages, because it helped someone with the same output by trying to launch a 32-bit game. But for me it remains the same.
I'm using  Googleearth version 6.0.3.2197+1.2.0-1

[2016-11-13 21:01] bluca commented on #818
If other 32bit applications work fine then it's most likely a primus or google earth problem, unlikely to be related to bumblebee

[2016-11-13 21:02] gsgatlin commented on #810
@seekermoc if you are on fedora you may wish to run

rpm --nodeps -e bbswitch-dkms

and reboot to remove the dkms version of the bbswitch module so you can test your local compiled version.

[2016-11-13 21:11] seekermoc commented on #810
Nope, doing that doesn't fix the problem. If anything, it's worse, as I can no longer shut the dGPU off at all. bumblebee-nvidia --check confirms that the local version of bbswitch loaded. Still get the same error with primus/optirun.

[2016-11-13 21:14] gsgatlin commented on #810
what is the output from
dkms status

[2016-11-13 21:15] gsgatlin commented on #810
and also

lsmod | grep bbswitch

[2016-11-13 21:17] merkur04 commented on #818
Yes, that was also my suspicion, because there is no hint in the Xorg.8.log. All seems to work fine.. As I have told, I unfortunately can't trace back any longer after which Update the problem occurs. I guess it was a mesa or OpenGL Update..

Thank you very much. I'll try to install googleearth7 and give an update tomorrow :)

[2016-11-13 21:21] seekermoc commented on #810
After removing the bbswitch-dkms package and a fresh reboot, my dGPU doesn't turn off during the boot sequence like it should, and dkms status and lsmod have no output.

After make / sudo make load in the local bbswitch directory, 'dkms status' still has no output, but lsmod responds with 'bbswitch               16384  0'

[2016-11-13 21:23] gsgatlin commented on #810
Ok. Yeah. So you know your custum version is getting loaded. I guess you can try

systemctl restart bumblebeed.service

to see if it made anything better.

[2016-11-13 21:35] seekermoc commented on #810
That at least turns the dGPU back off (and enables me to manually switch it on and off again), but I still can't use primus/optirun.

[2016-11-14 12:18] merkur04 commented on #818
I tried Googleearth 7, but the result is the same.  but then I tried to run optirun/primusrun with libgl debug variable and the output is as follows:

 "LIBGL_DEBUG=verbose optirun -b primus googleearth"

libGL: screen 0 does not appear to be DRI3 capable
libGL: pci id for fd 7: 8086:0a16, driver i965
libGL: OpenDriver: trying /usr/lib/i386-linux-gnu/dri/tls/i965_dri.so
libGL: OpenDriver: trying /

[2016-11-14 20:33] edoantonioco commented on #810
Latest kernel (4.8.7-1 on Manjaro) fixed this issue on my case.

[2016-11-14 21:36] olifre commented on #810
I can confirm that for me, the problem **persists** with 4.8.7 on Gentoo Linux.
There's also nothing in the (vanilla) kernel logs about any power management related changes, so I don't see how a kernel update could change the issue (the only "fix" would be if the newer kernel reverted the change, or for some reason power management got broken in the update).
`pcie_port_pm=off` again works around t

[2016-11-18 18:59] kmare commented on #810
Nvidia just released a new set of drives (375.20). Can anyone report back if it solved the issue?
http://www.nvidia.com/download/driverResults.aspx/111596/en-us

[2016-11-18 19:02] Thaodan commented on #810
I think no cause the issue is part how Optimus is handled. For the
bumblebee way using the gpu bbswitch needs to extended (see pm rewrite for
a good start).

[2016-11-18 20:15] olifre commented on #810
Agreed - but I still think nvidia needs to fix something, too, since even if bumblebee is disabled and bbswitch is blacklisted, if the nvidia card is not actively used on boot and thus the kernel disables the PCI-port, the nvidia driver itself will not reactivate the port if modprobing it (as I have described in the nvidia forums). Depending on the timing during boot (activating nvidia-persistence

[2016-11-18 21:36] gfokkema commented on #764
Just reporting that the Asus N552VW suffers the same issue.
The workaround for the Asus N501VW as posted by @Lekensteyn solves my issue as well, thank you very much!

(`osi=! acpi_osi="Windows 2009"`)

[2016-11-19 05:04] putterson commented on #810
I have just tested with nvidia 375.20 and the issue is certainly fixed for me.
I am running arch with kernel 4.8.8-2-ARCH on a Dell XPS 9550.
I have bbswitch loaded and I am not passing 'pcie_port_pm=off' to my kernel (which I used before to work around this issue.)

I'm not sure if the fix is with kernel 4.8.8 or with the nvidia drivers but if anybody would like me to test anything I'd be happy t

[2016-11-19 05:39] sabian2008 commented on #577
Just wanted to report I might be able to do some tests too. I've just installed bumblebee in Debian Testing and it worked out of the box (with lightdm, gdm3 won't start but don't have time to look into that now). My goal was to test power consumption (and to play with something new on a boring day). How can I monitor power consumption?

I have a NVidia 750Ti and a " VGA compatible controller: Inte

[2016-11-19 17:58] Lekensteyn commented on #577
@sabian2008 The power saving methods are not available for desktop, only "Optimus" laptops with Hybrid graphics technology. bbswitch, `acpi_call`, etc. won't work because the ACPI methods are missing.

If you want to offload graphics rendering, you could have a look at "DRI PRIME", but do not expect huge benefits here. Just plug your monitor in the stronger GPU.

[2016-11-19 22:11] sabian2008 commented on #577
@Lekensteyn Yes, after I posted I noticed the blog post I had superficially read it used acpi_call on desktop, had an error in the introduction and the rest of the article talked about laptops.

Are there any potential drawbacks of using bumblebee without bbswitch on a desktop? I only play demanding games about 6 hours per month and sometimes I use [Paraview.](http://www.paraview.org/) In neither

[2016-11-20 00:39] seekermoc commented on #810
I can confirm that this issue is fixed with me as well with the 375.20 drivers. I switched from the "managed" to "unmanaged" Fedora repo and downloaded the 375.20 drivers. They installed perfectly on kernel 4.8.8 even without the pcie_port_pm=off workaround, and with the default bbswitch version from the repo (not the pm_rework version). Everything works normally now, including optirun and primusr

[2016-11-20 01:12] seekermoc commented on #810
For fun, I tried using the pm_rework version of bbswitch to see if it would work without the pcie_port_pm=off workaround, but it did not work.

For me, bottom line is that drivers 375.20, default repo bbswitch, and pcie_port_pm=off now works in full.

Due to this, I think this may have been two separate problems that occurred concurrently. First, kernel 4.8 requires the pcie pm workaround. Second,

[2016-11-20 01:16] gsgatlin commented on #810
@seekermoc Thanks a lot for the info. I will try to update the managed version tomorrow. Sorry for the delay. Sometimes I miss these nvidia updates. I'm still on fedora 23.

[2016-11-20 01:20] kmare commented on #810
@gsgatlin thank you for your work! do you think you'll have the repo updated for fedora 25 when it comes out in a few days?

[2016-11-20 01:23] seekermoc commented on #810
@gsgatlin No problem, thanks for all your help.

[2016-11-20 01:26] gsgatlin commented on #810
@kmare Yes. I will update everything (centos 6,7.fedora 23,24,25,26) at the same time. I still need to test fedora 25 though.

[2016-11-20 10:55] Lekensteyn commented on #577
@sabian2008 Bumblebee can indeed be used without bbswitch, it won't damage your hardware. No problem to ask here, it seems on-topic

[2016-11-20 20:51] wolfester commented on #764
The MSI GS63VR (i7-6700HQ/GTX 1060) suffers from the same issue and the `acpi_osi=! acpi_osi="Windows 2009"` fix works.
Thank you @Lekensteyn for consolidating all of this info and @reygen for testing with the MSI GS60 previously.

For reference, I've got this laptop running Arch and using systemd-boot.

[2016-11-21 15:09] abbradar commented on #764
Lenovo T440p is also affected with newer BIOSes. It's related to bbswitch, bumblebee is okay on its own (perhaps we want to continue the issue there). My workaround was `acpi_osi=Linux`, bbswitch also sadly doesn't disable the card for me. Try if it works with nouveau -- if it's okay maybe https://github.com/Bumblebee-Project/Bumblebee/pull/820 would be interesting to you.

[2016-11-21 20:59] olifre commented on #810
Just to confirm the general picture: With 375.20, I can still reproduce the original problem (unless I add `pcie_port_pm=off`). After all, 375.20 claims only to have fixed the (independent) issue of incompatiblity with Xorg 1.19 (which I don't use yet in any case).

[2016-11-21 22:22] excieve commented on #153
375.20 is a new stable version with support for Xorg 1.19, which will be in tomorrow's Fedora 25 release. Would be great to upgrade. Thanks!
http://www.nvidia.com/Download/driverResults.aspx/111596/en-us

[2016-11-21 22:57] gsgatlin commented on #153
You can dnf clean all and dnf update to that version now.  I tested it on fedora 25 beta today and its working for me on MATE spin.

[2016-11-21 23:00] excieve commented on #153
@gsgatlin That's awesome, thanks!

[2016-11-22 20:52] gsgatlin commented on #153
Hello. I have updated my wordpress documentation here:

https://www.linux.ncsu.edu/bumblebee/

and the fedora wiki here:

https://fedoraproject.org/wiki/Bumblebee

for

1. mention of fedora 25.
2. to remove any mention of nouveau being able to work with bumblebee due to https://github.com/Bumblebee-Project/Bumblebee/issues/773
(just ripped out all that docs)

Thanks.

[2016-11-22 21:28] clnznr opened #821 "ggcrtnsćchnsḉ"

[2016-11-22 21:56] Lekensteyn commented on #821
What is this? You might want to buy a new keyboard, your current one seems broken.

[2016-11-22 21:56] #821 closed

[2016-11-22 22:49] Fathardie commented on #782
@Lekensteyn Unfortunately, after the "magical" fix, I haven't been able to reproduce any of it. Bumblebee has been working like a charm ever since. If I had to guesse, the socat might have caused some kind of cache invalidation / refresh which removed some kind of unstable state. However, as I have no idea of how Bumblebee actually works, this is just a guesse on my part xD.

I do notice that exte

[2016-11-26 10:57] simgeozger opened #822 "[ERROR] Could not load GPU driver"
Hi , my configurations are like:

[code]

[code]

[code]

[code]

When I want to open nvidia-settings or any other program, it gives me an error:

[code]

[2016-11-26 11:38] bluca commented on #822
```optirun nvidia-settings -c :8```

[2016-11-26 11:40] simgeozger commented on #822
[code]

[code]

[2016-11-26 11:44] bluca commented on #822
The 304 driver series does not support your card. For the 870m you need at least the 340, please upgrade and try again.

[2016-11-26 11:55] simgeozger commented on #822
[code]

[code]

and

[code]

[2016-11-26 11:58] bluca commented on #822
Have you rebooted?

[2016-11-26 12:09] simgeozger commented on #822
Yes , I have rebooted but got the same error.

[2016-11-26 12:16] bluca commented on #822
```LD_LIBRARY_PATH: /usr/lib/nvidia-current:/usr/lib32/nvidia-current```

Is that the right path? Could you double check? I seem to remember that on Ubuntu the libraries are in a versioned path

[2016-11-26 12:18] bluca commented on #822
Same for the kernel driver, it might have to be versioned

```KernelDriver=nvidia-340```

You need to restart bumblebeed.service after changing the config file

[2016-11-26 12:24] simgeozger commented on #822
'nvidia-current' could not found but "nvidia" and "**nvidia-340**" folders are in /usr/lib/.

[code]
and I change "KernelDriver=nvidia" to "**KernelDriver=nvidia-340**"

[code]

[2016-11-26 12:25] simgeozger commented on #822
and

[code]

[2016-11-26 12:26] bluca commented on #822
Check what's /usr/lib/nvidia, if it's a symlink to nvidia-340 or something else.

Change LibraryPath and if it's a symlink instead of /usr/lib/nvidia-current set /usr/lib/nvidia, else /usr/lib/nvidia-340

[2016-11-26 12:26] bluca commented on #822
Same for /usr/lib/nvidia-current/xorg

[2016-11-26 12:40] simgeozger commented on #822
[code]

`pre-install`

When I change bumblebee.conf's Path as:
[code]

or

[code]

and

[code]
or

[code]

[2016-11-26 12:47] bluca commented on #822
Ok so /usr/lib/nvidia-340 is the right path.

For the kernel module, check what's in /lib/modules/`uname -r`/updates/dkms as it might not be the right name.

Also you'll get more useful logs in the journal, as that's where the kernel/library load will be showed. You could also add -d to the bumblebeed service ExecStart line to get more info from the daemon.

[2016-11-26 13:15] simgeozger commented on #822
[code]

`override.conf`

"cat override.conf" is empty

[2016-11-26 13:20] bluca commented on #822
it should be /lib/systemd/system/bumblebeed.service

[2016-11-26 13:21] simgeozger commented on #822
yess, I fixed it as:

[code]

[2016-11-26 13:37] simgeozger commented on #822
and I have reboot

[code]

[2016-11-26 13:55] bluca commented on #822
Sorry my bad, it's --debug not -d, there's no short version.

Note that you don't need to reboot when changing a service, just:

[code]

[2016-11-26 14:05] simgeozger commented on #822
No problem :) Then, I changed it "-d" to "**--debug**", and run 2 commands which you wrote;

Now, bumblebee is working.

[code]

[2016-11-26 14:16] bluca commented on #822
Ok, so what's the journal after you run optirun?

[code]

[2016-11-26 14:24] simgeozger commented on #822
[code]

[code]

[2016-11-26 14:28] simgeozger commented on #822
In addition, I start service manually now.

[code]
[ 3701.273703] [DEBUG] VGLrun extra options:
[ 3701.273710] [DEBUG] Primus LD Path: /usr/lib/x86_64-linux-gnu/primus:/usr/lib/i386-linux-gnu/primus
[ 3701.273762] [DEBUG]Using auto-detected bridge primus
[ 3701.276755] [INFO]Response: No - error: [XORG] (EE)

[ 3701.276767] [ERROR]Cannot access secondary GPU - error: [XORG] (EE)

[ 3701.276773] [D

[2016-11-26 14:29] bluca commented on #822
Ok it looks like problems with other kernel modules.

Could you please try with the version in the testing ppa? Many problems with kernel modules were solved there:

sudo add-apt-repository ppa:bumblebee/testing
sudo apt-get update
sudo apt-get upgrade

[2016-11-26 14:32] simgeozger commented on #822
I add repository and get update & upgrades
[code]
Asks me about bumblebee.conf

[code]

[2016-11-26 14:34] bluca commented on #822
Show the diff with "D" and paste it here, and then say "Y". Can't remember what the full diff between -10 and -13 is so this way is safer

[2016-11-26 14:40] simgeozger commented on #822
Differences:
[code]

[2016-11-26 14:42] simgeozger commented on #822
Error message changed.

[code]

[2016-11-26 14:42] bluca commented on #822
Ok restore Driver, KernelDriver and the 2 paths variables and restart the service, and let's see if it works now

[2016-11-26 14:47] simgeozger commented on #822
I changed bumblebee.conf and restart bumblebeed services.
[code]

[code]

[2016-11-26 14:48] bluca commented on #822
If you re-add --debug as before, what does the journal say?

[2016-11-26 15:02] bluca commented on #822
Uh why is it trying to unload nouveau now? I don't understand, is Driver=nvidia set?

[2016-11-26 15:04] simgeozger commented on #822
Here is the full bumblebee configuration file:

[code]

[2016-11-26 15:06] bluca commented on #822
What do ```lsmod | grep nouveau``` and ```lsmod | grep nvidia``` say?

[2016-11-26 15:08] simgeozger commented on #822
[code]

`Nothing`

[2016-11-26 15:13] bluca commented on #822
There's something wrong, nouveau should be blacklisted.

Do you have a ```/etc/modprobe.d/bumblebee.conf``` file installed? It should have ```blacklist nouveau``` near the top.

[2016-11-26 15:34] simgeozger commented on #822
It has "blacklist nouveau".

[code]

[2016-11-26 15:34] bluca commented on #822
Could you please try rebooting again? The blacklist should take effect and nouveau should not load after the reboot, if you check with lsmod

[2016-11-26 15:41] simgeozger commented on #822
After the reboot, "lsmod | grep nvidia" and "lsmod | grep nouveau" dont give any result.

[2016-11-26 15:42] bluca commented on #822
Great! So what does the journal say after running optirun now?

[2016-11-26 16:10] simgeozger commented on #822
Heey it's working now.  :+1:
Thanks for your help

[2016-11-26 16:10] bluca commented on #822
Excellent! No problem, closing the issue now

[2016-11-26 16:10] #822 closed

[2016-11-26 16:21] bluca commented on #818
Are the mesa 32 bit libraries installed?

libgl1-mesa-glx:i386
libgl1-mesa-dri:i386

[2016-11-26 16:22] bluca commented on #806
Do other applications, like glxgears, work?

[2016-11-26 21:47] merkur04 commented on #818
Yes, both are installed.

[2016-11-26 22:09] bluca commented on #818
Just tried on debian stable + jessie-backports driver/bumblebee and cannot reproduce. The google earth is the latest deb 64bit package from google's website.

[code]

[2016-11-26 22:24] merkur04 commented on #818
I also use bumblebee from jessie-backports. I'll give it another try with the Googleearth package from the Google website. This package differs from the official jessie/stable package.

[2016-11-26 22:33] merkur04 commented on #818
No, the result is the same.
"optirun --debug -b primus googl-earth" gives:

[ 4831.614658] [DEBUG]Reading file: /etc/bumblebee/bumblebee.conf
[ 4831.614863] [INFO]Configured driver: nvidia
[ 4831.614947] [DEBUG]optirun version 3.2.1 starting...
[ 4831.614953] [DEBUG]Active configuration:
[ 4831.614958] [DEBUG] bumblebeed config file: /etc/bumblebee/bumblebee.conf
[ 4831.614961] [DEBUG] X display:

[2016-11-27 12:54] bluca commented on #818
So any other application ran through optirun is fine? This is quite strange.

Could you try adding --debug to the ExecStart line in /lib/systemd/system/bumblebeed.service, running systemctl daemon-reload and systemctl restart bumblebeed and run optirun, and then attach the logs from journalctl -b -r --since "5 minutes ago" ?

[2016-11-27 19:58] merkur04 commented on #818
Thanks for the reply!

[Uploading bumblebee.log.txt…]()

I run google-earth and afterwards "brutalchess-32-Bit" version, which also doesn't work correctly, and then run "journalctl -b -r --since "2 minutes ago". I think this should match all relevant data. I attached the Logfile.

Running "optirun --debug /usr/games/brutalchess" gives the following:

"optirun --debug -b primus /usr/games/brutalche

[2016-11-28 18:55] robermorales commented on #664
Same problem here, with archlinux and with manjaro, linux 4.9rc7, nvidia drivers and bumblebee on a gtx 980M.

[code]

I think that the card is not disabled, since the fan is at full speed.

Any news?

[2016-11-29 09:22] netcan commented on #684
I have similar issue when I have upgraded my Debian to Scretch, but I solved it by purged bumblee and reinstall it, thanks.

[2016-12-01 11:54] thiagoguedes commented on #764
I can confirm - adding acpi_osi="!Windows 2015" fixed most issues for me. Dell 7559 i7 running Fedora 20.

nVidia proprietary module is working fine and bbswitch is turning off the card.

[2016-12-02 14:26] TiZ-EX1 opened #823 "(Xubuntu 16.04) Unloading or blacklisting nvidia modules causes xorg to freeze the system on start"
Hi there. This is more of a tech support request to be frank. I figure you guys are the best ones to possibly know what to do. I just got a new laptop, with an optimus setup similar to my last one, except four generations newer. To be specific, the Gigabyte P55Wv6-NE2 with a 1060, up from my Asus G46VW with a 660M.

I'm using the nvidia drivers from the [graphics-drivers ppa](https://launchpad.net

[2016-12-02 14:37] bluca commented on #823
Handling the multiple modules has been fixed in the devel branch, you can grab packages for 16.04 from the testing ppa

sudo add-apt-repository ppa:bumblebee/testing

https://launchpad.net/~bumblebee/+archive/ubuntu/testing

[2016-12-02 14:48] TiZ-EX1 commented on #823
Updating to the testing version of bumblebee has caused the Xorg freeze to manifest on startup when it tries to start lightdm. I'm presuming the testing version just has included blacklists for the drm and modeset modules? This doesn't fix my problem, it just forces it to happen.

[2016-12-02 15:03] bluca commented on #823
The new modules are not blacklisted anywhere (and shouldn't be), the new version properly handles loading/unloading them via libkmod.

I see you are using 375, does it help adding:

[code]

At the bottom of /etc/modprobe.d/bumblebee.conf help? You need to run:

[code]

And rebooting afterwards

[2016-12-02 15:07] bluca commented on #823
Also I see it's a recent laptop, so it might be suffering from ACPI problems, see these tickets for more information and workarounds:

https://github.com/Bumblebee-Project/Bumblebee/issues/808
https://github.com/Bumblebee-Project/bbswitch/issues/140
https://github.com/Bumblebee-Project/bbswitch/issues/112

[2016-12-02 18:32] TiZ-EX1 commented on #823
#808 led me to a fix, namely adding `acpi_osi=! acpi_osi=\"Windows 2009\"` to the kernel params, in combination with bumblebee from testing. Thank you very much for your help. <3

[2016-12-02 18:32] #823 closed

[2016-12-03 01:07] Lekensteyn commented on #664
@robermorales Your issue might be different from the other reporters. Consider opening a new report with a tarball created following the instructions in https://bugs.launchpad.net/lpbugreporter/+bug/752542

[2016-12-03 21:52] TimsManter commented on #764
Model: GE72VR Apache Pro with GTX 1060
EFI Version: E179BIMS.105 (from 2016-10-21)

`acpi_osi=! acpi_osi="Windows 2009"` solves the issue;

[2016-12-04 09:06] deajan commented on #764
Model; MSI GE62 6QD apache pro with GTX960, latest bios and EC firmware.
```acpi_osi=! acpi_osi="Windows 2009"``` lets me use lspci, but system freezes some minutes later :(

[2016-12-05 16:21] markmuir87 commented on #719
Don't know if this is still a problem anyone is having (although I just had it).

But just in case, for future searchers, what worked for me (in Arch) was to remove all references to nvidia drivers in the 'modules' array of /etc/mkinitcpio.conf and also any presets in /etc/mkinitcpio.d/ , and then rebuild initramfs.

[2016-12-06 07:48] QkiZMR commented on #719
On Ubuntu 16.04 I had this problem, but on Ubuntu 16.10 is ok. Right after stopping program bbswitch turn off NVidia card.

[2016-12-06 13:27] Lekensteyn commented on #764
@deajan Would it be possible to provide logs (dmesg), either here or in the nouveau bug? Something like `dmesg -w | tee demsg.txt` to keep outputting and then before it dies completely, execute `sync` to flush filesystem buffers.

[2016-12-06 15:13] deajan commented on #764
@lekensteyn This is actually brilliant
As my system freezes and I am not sure if I still can execute sync manually, I'l go for this ugly style:
[code]
I'll report back soon.

[2016-12-06 20:19] deajan commented on #764
@Lekensteyn Back with some dmesg output :)

I've tried three times booting with acpi_osi=! and acpi_osi="Windows 2009".

1st try (with time and command)
`
59 - lspci
95 - DRI_PRIME=1 firefox &
203 - lspci
`

Corresponding dmesg output: https://gist.github.com/deajan/c49af3ba9f9a23043db44aacb5b2ce75

The first try makes my wireless connection unhappy too, which btw works great since I bought the co

[2016-12-06 22:23] edoantonioco commented on #769
This seems to be a step forward fixing this
https://devtalk.nvidia.com/default/topic/974876/vulkan/getting-vk_error_incompatible_driver/post/5032419/#5032419

[2016-12-07 12:44] dbacc commented on #794
I bascally have the same issue since March or so.
You can see in the xrandr.txt that there are no additional VIRTUAL screens after running intel-virtual-output which should, however, be there after its execution, no matter whether you connected any screens or  not.

I am on a Thinkpad T420 if that matters.

[2016-12-07 21:30] ph03 commented on #664
On ubuntu 1610 with `nvidia-367` I'm getting this APCI warnings with a kernel stack trace

[code]

and still

[code]

even after `optirun` finishes running. I assume the card should be turned `OFF`, right? Is there any way I can provide more information on this issue?

[2016-12-08 20:30] Lekensteyn commented on #664
@ph03 Do you have runtime PM enabled for the pcie port and/or Nvidia PCI device? You can check with powertop. Try disabling runtime PM for these devices for now, otherwise bbswitch might trip

[2016-12-08 21:46] RalfJung commented on #764
I got a Tuxedo DX1506 which has the same problem -- I believe this is essentially a re-branded Clevo P651RA, at least it has i7-6700HQ/GTX 965M. `acpi_osi="!Windows 2015"` works here; interestingly though, what works even better is `acpi_os_name=Linux acpi_osi=` ("better" because this also fixes the screen backlight keys). I don't know if this work-around applies to all Clevo P651RA or if Tuxedo p

[2016-12-08 22:21] thiagoguedes commented on #764
Hi @RalfJung,
Just out of curiosity, what exactly your other option also fixed? When using the Windows 2015 only your keys to raise and diminish the backlight were not working? Kind regards,

[2016-12-08 22:48] Lekensteyn commented on #764
@RalfJung Backlight keys will likely be fixed in kernel 4.10, see https://bugzilla.kernel.org/show_bug.cgi?id=123651#c6 (I have the same P651RA laptop). I also have not gotten the time to look further into the hang issue (without acpi_osi workaround).

@deajan The "Buffer eviction failed" message looks fishy, no idea what could be wrong though. Maybe posting these logs in a (new?) nouveau bug help

[2016-12-09 03:48] soamaven opened #824 "Fedora 25: /dev/dri/card0: failed to set DRM interface version 1.4: Permission denied"
Making a new issue, seems similar to #652, but no solution has worked yet.

I have this problem after upgrading to Fedora 25. Kernel is `4.8.11-300.fx.x86_64`.
ASUS K52 laptop with NVIDIA Optimus 310M, [which uses the 340.xx legacy drivers](https://www.nvidia.com/object/IO_32667.html). Bumblebee/optirun/primus worked using last year's 340.96 'blob' on fc23, but does not work with 340.96 or recentl

[2016-12-09 07:35] RalfJung commented on #764
When using either no kernel option or the one given here to work around the bug, pressing the screen backlight keys does nothing. Moving the slider in the KDE panel works correctly, so this is "just" a button problem. The buttons do not generate any X11 events.
With the Linux ACPI, the buttons work as expected. (The vendor also provides a small DKMS driver "tuxedo-wmi" that makes the airplane mode

[2016-12-09 19:44] gsgatlin commented on #824
What happens if you use the "unmanaged" version and copy NVIDIA-Linux-x86_64-340.98.run into/etc/sysconfig/nvidia/ ? What error message does it give you?

[2016-12-09 20:50] soamaven commented on #824
That is what i have done. I am using the unmanaged repo, and placed the blob into `/etc/sysconfig/nvidia`. I get the error above.

[2016-12-09 20:56] gsgatlin commented on #824
Hello.

After you copy the blob, what happens if you run as root

bumblebee-nvidia --force --debug

I assume it prints a red [FAILED] after a bunch of "dots" ?

if so, can you paste the /var/log/nvidia-installer.log to fpaste.org or pastebin or similar site and link to it here? Thanks.

[2016-12-09 22:02] soamaven commented on #824
It does not fail:
[code]
contents of /var/log/nvidia-installer.log were too big for pastebin free and github comment... any ideas?

[2016-12-09 22:50] soamaven commented on #824
Also weird is
[code]

And my "Bumblebee Status" GNOME extension informs me that my card is on, but I can't access it.

[2016-12-09 23:39] gsgatlin commented on #824
I'm thinking that error message won't really help us out with the real issue.

https://github.com/Bumblebee-Project/Bumblebee/commit/881fab51122f7fe3c7c18565556ad96c25d0660f

I will give it some more thought. Hopefully @ArchangeGabriel might have some ideas we could try or further logs to gather. I'm sorry I can't think of much else. Could

Section "ServerFlags"
 Option "IgnoreABI" "1"
EndSection

[2016-12-10 00:00] gsgatlin commented on #824
Yeah.....

I think I found the bad news here:

https://devtalk.nvidia.com/default/topic/976844/linux/xorg-1-19-support/

You may wish to complain also?

[2016-12-10 16:58] soamaven commented on #824
Thanks for finding this! Good to know I can stop trying for a while.
Definitely adding my complaints!
On Fri, Dec 9, 2016 at 4:00 PM gsgatlin <notifications@github.com> wrote:

[2016-12-13 18:56] eugenbalintescu commented on #780
Hello again,
It's been 4 months since I reported my problem here and there is still no change. I am stuck with kernel 4.1 and none of the newer ones seem to work. Is there any progress fixing this?
Thanks

[2016-12-16 00:46] kmare commented on #810
While it's not explicitly listed in the changelog, could the new driver update 375.26 have fixed the problem mentioned here? Has anyone tried it?

https://devtalk.nvidia.com/default/topic/981831

[2016-12-18 21:00] FallingSnow commented on #764
I'm using an Asus UX501vw. `acpi_osi=! acpi_osi="Windows 2009"` fixes the lock up problem because breaks the backlight. I've tried multiple different settings with `acpi_backlight` and none of them have worked. If I change the acpi settings to `acpi_osi= acpi_backlight=none` it locks up but I can change the backlight using the keyboard keys.

[2016-12-18 21:26] jgkamat commented on #764
@FallingSnow I have something similar to the backlight issue you're seeing, and the way I'm dealing with that is by using the xbacklight program [or this alternative](https://github.com/haikarainen/light). Can you see if that works?

Maybe writing to `/sys/class/backlight/intel_backlight/brightness` is also worth a try:
`echo "20" > /sys/class/backlight/intel_backlight/brightness`

[2016-12-18 21:45] FallingSnow commented on #764
Thanks jgkamat, for right now I'm just using the built in functionality of gnome's gui. I just hate to lose some functionality so that I can boot my laptop with the nvidia gpu off.

[2016-12-20 17:24] edoantonioco commented on #810
Just to confirm than this also happen on the latest stable nvidia 375.26 on kernel 4.9. Once I start the pc I can use the dedicated card without any problem. The way to reproduce this bug on my laptop is just to close the lid (send it to sleep) and start using the pc again. Now bumblebee cant use the nvidia card.

[2016-12-21 09:49] uzytkownik opened #825 "bumblebee should unload nvidia-drm and nvidia-modeset before nvidia"
[code]

[2016-12-21 10:25] bluca commented on #825
Already reported and fixed in the development branch

[2016-12-21 10:25] #825 closed

[2016-12-21 22:04] ClydeDroid commented on #793
@Elktro you are my hero, I haven't been able to get Rocket League running for days and relinking those libraries fixed it for me! Thank you!

[2016-12-22 02:04] louisgv commented on #749
I can confirm that doing
`sudo apt remove xserver-xorg-legacy`

then restart bumblebeed worked for me.

[2016-12-22 03:13] louisgv commented on #580
I solved this problem by setting my driver manually, thanks to this  s.o answer's suggestion: http://askubuntu.com/questions/450467/ubuntu-14-04-nvidia-optimus-bumblebee-error

Since I'm using Nvidia proprietary driver, I'm using 367. But in your case, just search `/usr/lib/nvidia-***` to find your version. Then in your '/etc/bumblebee/bumblebee.conf', set it up using that path/version:

[code]

[2016-12-23 01:32] davidparks21 commented on #749
Confirming that removing xserver-xorg-legacy worked for me on Linux Mint 18.1 on an MSI GS 60 Ghost with 970M and an Intel embedded GPU.

[2016-12-25 19:53] AugierLe42e opened #826 "Boot freeze after installing bumblebee"
I'm not sure whether this bug is related to some of the ones I saw already opened here but I still open this issue in hope for some help.
After installation of Bumblebee my Linux just freezes during the boot process. I've tested with both Nvidia and Nouveau drivers.

System is:

* Mageia 5
* Kernel 4.4.36
* Bumblebee 3.2.1

[code]

Entire boot log is available [here](http://pastebin.c-henry.fr/ppu

[2016-12-29 11:15] aditiapratama opened #827 "Power Manager AC turn off when using GPU"
This was happened whenever GPU load by using 3D app like Blender, Substance Painter, etc. I don't know how to debug this via command line, but I can record a video for showing the notification that the power off simultaneously when gpu active.

[2017-01-01 15:14] aditiapratama commented on #827
Below is the screencast showing when I tried to use a lot vram on optimus, power manager keep flashing on and off.

![gpu_power_off](https://cloud.githubusercontent.com/assets/982553/21581683/29c3e582-d06f-11e6-9217-1d3cc748554a.gif)

[2017-01-02 14:31] anolting commented on #810
Hi all,

I'm still having this problem with 4.9 and 375.26 on openSUSE Tumbleweed. If I'm forcing the kernel to switch back the PM method the laptop starts up into rl3 and freezes before I can login.

The Laptop is a DELL Inspiron 15 Series 7000 (7559) with a GTX960M.

Thanks
Alex

[2017-01-03 11:32] Lekensteyn commented on #780
@eugenbalintescu Didn't really have the time yet to check issues here. From your previous descriptions it was not clear which component (bbswitch, nouveau, nvidia, kernel core) is problematic. Can you give a summary of the components that you are using? In particular:

 - Latest kernel version you have tried.
 - Whether bbswitch, nvidia and/or nouveau are in use.
 - Include dmesg.

[2017-01-04 02:20] Single34 opened #828 "Multiple issues probably related to the same cause"
startx freezes the system if the nvidia card is turned off, a workaround is to turn on the nvidia card before launching x. Wayland isn't affected and can be started when the nvidia card is turned off perfectly.

There's a probability that the system freezes when powering on the nvidia card. Usually when I hit enter, the cursor blinks slower and slower gradually and eventually stops blinkling (pret

[2017-01-04 02:23] Single34 commented on #828
And about my laptop model:
Gigabyte Aero 14 (GTX 1060)
i7-6700HQ, Geforce GTX 1060
I changed the ssd inside into a samsung 960 evo 1tb, but I don't think that's related to the problem, although I'm currently having some problem with the samsung ssd.

about my system:
Arch linux 64bit,
i3 as X windows manager,
sway as wayland windows manager.

[2017-01-04 02:29] Single34 commented on #828
cat /sys/bus/pci/devices/0000\:01\:00.0/power/control

says 'on'.

[2017-01-05 14:49] Single34 commented on #764
I have a Gigabyte Aero 14 (i7-6700HQ, GTX 1060). After adding acpi_osi=! acpi_osi="Windows 2009", startx no longer freezes the system.

And about touchpad, may I suggest a voodoo method that probably solves problem (It solves mine)

1. Poweroff your laptop for one minute or longer.
2. Turn it back on.
3. Solved.

Just remember it has to be one minute or longer. (i.e. 55 secs won't work)

Based on

[2017-01-05 17:38] jkdf2 commented on #749
Thanks to somebody on the Arch forums I have realized that this may be because of TLP disabling the GPU driver. Fix is to blacklist the GPU driver with `RUNTIME_PM_BLACKLIST` and `RUNTIME_PM_DRIVER_BLACKLIST`:

https://bbs.archlinux.org/viewtopic.php?id=218757

[2017-01-05 17:52] jkdf2 opened #829 "With TLP: Cannot access secondary GPU - error: Could not enable discrete graphics card"
TLP disables the GPU driver and you get `[ERROR]Cannot access secondary GPU - error: Could not enable discrete graphics card
`. This has been fixed by a user on the Arch forums: fix is to blacklist the GPU driver with `RUNTIME_PM_BLACKLIST` and `RUNTIME_PM_DRIVER_BLACKLIST`:

https://bbs.archlinux.org/viewtopic.php?id=218757

Filing a bug report with TLP so that it can perhaps detect an Nvidia Opt

[2017-01-05 19:14] jkdf2 commented on #829
Help needed for upstream patch on TLP, see open GitHub issue linked above.

[2017-01-05 19:35] linrunner commented on #829
Wrong. TLP doesn't touch drivers. TLP enables Runtime PM for all PCIe devices – including the eGPU.

[2017-01-05 19:47] jkdf2 commented on #829
Oops, thanks for the clarification. Does this mean there might be a better approach than to blacklist the card & driver from Runtime PM?

[2017-01-07 11:17] ArchangeGabriel commented on #829
The better approch is probably fixing bbswitch to be a proper driver. Once that is done, not sure whether blacklisting it would be necessary, but I suppose not: after all, bbswitch would be a driver only managing runtime PM of the nvidia card.

[2017-01-07 11:44] Lekensteyn commented on #829
I have noticed that when the dGPU is powered off (via PCIe port PM in Linux 4.8+) while no driver is loaded, nouveau fails to load. It might also cause this issue with the blob, but I have not checked.

[2017-01-07 18:13] jramapuram commented on #810
On kernel 4.9 and using `pcie_port_pm=off` allows proper usage of bumblebee, however my external display is not detected. I am powering that via a thunderbolt 3 --> thunderbolt 2 adaptor. It generally lists as `DP1` when using `pcie_port_pm=on` however is not at all listed otherwise. I have tried using `intel-virtual-output` as stated [here](https://github.com/Bumblebee-Project/Bumblebee/wiki/Mult

[2017-01-07 19:26] edupulpillo commented on #807
using nouveau driver instead nvidida, the same problem is observed, even specifying the BusID correctly. So as nwoods suggest "It looks like the same message masks a variety of errors".

[2017-01-08 14:31] postadelmaga opened #830 "Suspend: After wake up nvidia card is on"
I just notice that everytime I wake up the pc after a suspend the output of `$ optirun --status` is:
`Bumblebee status: Ready (3.2.1). X inactive. Discrete video card is on.`

if then I run an app with optirun and close it then the card is correctly switched off.

`$ cat /etc/bumblebee/bumblebee.conf
# Configuration file for Bumblebee. Values should **not** be put between quotes

## Server options

[2017-01-10 11:17] Yamakuzure commented on #830
I just tried it out on my Dell Precision M4800 with Intel HD + Quadro and it
says after resuming:

 ~ $ optirun --status
Bumblebee status: Ready (3.2.1-45-gc322bd8). X inactive. Discrete video card
is off.

This is built from the "develop" branch from
https://github.com/Bumblebee-Project/Bumblebee.git

KernelDriver=nvidia_uvm

Did you ever try that one out?

Regards

Sven

[2017-01-10 13:15] GabLeRoux opened #831 "What's the right case for the PmMethod key in bumblebee.conf?"
Hi,
I'm running arch on a zbook 15 g2 with bumblebee, followed [instructions on arch wiki](https://wiki.archlinux.org/index.php/bumblebee).

But I'm still trying to make my multi display setup working. Anyway, I saw this in the [wiki of the repos]():

On arch wiki, it's written `PMmethod`, in local wiki, it's `PmMethod` in 4 places and on my own config (can't remember if I did input this myself or

[2017-01-10 14:10] akien-mga commented on #826
Any clues on how to debug this further? What logs would be relevant?

[2017-01-10 17:14] Lekensteyn commented on #826
The information here might be relevant: https://github.com/Bumblebee-Project/Bumblebee/issues/764#issuecomment-234494238 (I guess it is exactly the same issue given your dGPU model)

The kernel log (dmesg) would be helpful.

[2017-01-10 17:16] Lekensteyn commented on #831
The capitalization is `PMMethod`. If you want to use external monitors, I suggest to look into using PRIME.

[2017-01-10 18:17] #831 closed

[2017-01-10 19:25] AugierLe42e commented on #826
Can you provide me the complete command to retreive it?

[2017-01-11 18:58] RobMokkink opened #832 "Refused to change power state"
Hi,

Have a new si GP62 6QF. Installed fedora 25 and installed bumblebee from https://fedoraproject.org/wiki/Bumblebee. I also created a comment in https://bugs.launchpad.net/lpbugreporter/+bug/752542.

I get the following errors after running optirun:
[code]
Battery life is not great, i see that the MSI powerbutton goes to blue, but it still consumes a lot of power.

Thanks.

[2017-01-15 19:01] romanlex commented on #782
Hello :( how fix this problem?
On my laptop Asus N550JV same trouble.
I cannot start optirun and get this error
[code]

[2017-01-15 21:46] Chronos2011 commented on #580
Thanks to @bremme , I finally got rid of the issue as well. As with him, none of the other suggestions fixed my Debian Jessie running a Geforce GT 650M / "Intel Corporation 3rd Gen Core processor Graphics Controller", but applying `GRUB_CMDLINE_LINUX_DEFAULT="quiet rcutree.rcu_idle_gp_delay=1"` in `/etc/default/grub`.
Interestingly, after applying the fix, another issue (the GPU fan running wildly

[2017-01-16 13:44] romanlex commented on #782
@Fathardie
I open source with this error and see what bumblebee work with Xorg socket.
Why I cant fix this error?
[code]

[2017-01-16 14:02] romanlex commented on #782
I spent two days on this error :( And I run optirun application!!!!
If I start Xorg on another terminal as sudo - all work perfect!
[code]
[roman@n550jv ~]$ sudo Xorg :8 -config /etc/bumblebee/xorg.conf.nvidia -configdir /etc/bumblebee/xorg.conf.d -sharevts -nolisten tcp -noreset -verbose 3 -isolateDevice PCI:01:00:0 -modulepath /usr/lib/nvidia/xorg/,/usr/lib/xorg/modules
[/code]
I get this comman

[2017-01-16 14:44] Fathardie commented on #782
@romanlex

As I am not a Bumblebee dev, I have no clue where to begin with any help xD. In my specific case the Bumblebee process had issues creating a connection with second Xorg server. It seems that yours does to looking at the log. Have you made sure that your secondary graphics card is in the bumblebee Xorg config? As auto-add devices is off, the second Xorg server might crash if it misses an

[2017-01-17 10:17] romanlex commented on #782
@Fathardie problem in Xorg or bumblebee, because if i start Xorg command as root manually - optirun and primusrun work, bumblebee cannot connect to Xorg.

[2017-01-18 12:23] romanlex commented on #782
@Lekensteyn
Strace log (primusrun or optirun)
https://gist.github.com/romanlex/39e38b5165caaad177a0cd86f9d50b73

[2017-01-18 17:57] romanlex commented on #782
I think what trouble in this code
[code]
Method **start_secondary** in **_bbsecondary.c_**
**XOpenDisplay** function not work properly in my system :(

[2017-01-18 18:55] #724 closed

[2017-01-18 20:46] romanlex opened #833 "X unresponsive after 10 seconds"
Hello dev team.
I have problem with my bumblebee in Arch Linux.
I get Bumblebee from develop branch of this repository.

Laptop: Asus N550JV + Nvidia 750M
System:
[code]
My problem:
[code]

My logs and configs:
- **Xorg.8.log**: https://gist.github.com/romanlex/843d3ea098c7b45d5b46721f44eb7a2d
- **bumblebee.conf**: https://gist.github.com/romanlex/2e45fde2d2e5521d9f5e6988024b8e28
- **xorg.conf.nvi

[2017-01-18 23:29] jpeacock29 opened #834 "Ubuntu 16.04 Nvidia GeForce GT 540M: Cannot access secondary GPU - error: Could not load GPU driver"
OS: Ubuntu 16.04
Kernel: 4.4.0-59-generic
Graphics card: Nvidia GeForce GT 540M
Laptop: Toshiba Satellite P755-S5269

Since I've been messing with this extensively, I started with a clean slate by running

[code]
At this point,

[code]

Per internet wisdom, I reconfiguring `/etc/bumblebee/bumblebee.conf` to use the installed driver `nvidia-304` and restarting, but to no avail (below). The above er

[2017-01-19 04:47] droid666 opened #835 "Optirun only works if not connected to a Network, otherwise it waits 130s in recvfrom syscall"
Long story short, I can only use optirun if I have no Network. Xorg.8.log is identical in both cases. If my wifi/eth0 is connected, then optirun waits 130 seconds to fail. It would show the secondary card drm error (but Xorg also gets that when it is working).

Maybe it is a problem with my system (OS config or hardware), but that it waits for 130 seconds each time makes it hard to debug.

Any ide

[2017-01-19 05:25] droid666 commented on #835
Not working (in bumblebeed):
connect(6<TCPv6:[78079]>, {sa_family=AF_INET6, sin6_port=htons(6008), inet_pton(AF_INET6, "::1", &sin6_addr), sin6_flowinfo=htonl(0), sin6_scope_id=0}, 28) = -1 ETIMEDOUT (Connection timed out)

vs working:
connect(6<TCPv6:[81988]>, {sa_family=AF_INET6, sin6_port=htons(6008), inet_pton(AF_INET6, "::1", &sin6_addr), sin6_flowinfo=htonl(0), sin6_scope_id=0}, 28) = -1 EAD

[2017-01-19 05:32] droid666 commented on #835
I get the same with telnet on a random port: ipv4 refuses, ipv6 waits for timeout:
telnet localhost 11987
[code]

[2017-01-19 05:52] droid666 commented on #835
So it is a problem with my network settings or something. Sorry.

[2017-01-19 05:52] #835 closed

[2017-01-19 07:27] droid666 commented on #835
For those with the same problem:
Activating IPv6 globally was the solution (my notebook worked seemed with IPv6, but it was deactivated in Yast, I had to activate it and do a mkinitrd && reboot. Now I can telnet myself (and optirun).

[2017-01-21 20:53] BrunoMSantos commented on #764
Just found this issue with a P650RS-G and letting everyone know the workaround in my case was `acpi_osi=! acpi_osi="Windows 2009"`.

[2017-01-23 01:11] Celelibi opened #836 "bbswitch_write: wrong use of fwrite"
At `src/switch/sw_bbswitch.c:73`, `fwrite` is called like this:

    fwrite(msg, sizeof msg, strlen(msg) + 1, bbs);

Since msg is a pointer, it means we write 4 or 8 times the string length on the file descriptor. This should have no consequence whatsoever as long as there's some readable memory right after the string pointed to by `msg`. If not, this could lead to a segmentation fault.

I also fi

[2017-01-24 16:36] Lekensteyn commented on #833
Thank you for your detailled report. Is it possible that you need `needs_root_rights = yes` as documented in
 https://wiki.archlinux.org/index.php/Xorg#Rootless_Xorg_.28v1.16.29?

(I am guessing that Xorg starting through bumblebeed somehow does not register with systemd's logind which then somehow breaks. Not fully sure though, but setting the above key should avoid using logind if I am not mista

[2017-01-24 16:38] Lekensteyn commented on #782
strace on optirun will not help if bumblebeed does not detect xorg in time. Can you see #833 for a possible workaround?

[2017-01-24 16:41] Lekensteyn commented on #836
Well spotted, the first sizeof of a pointer and the +1 to include the NUL byte is also bogus. Would you mind preparing a PR to fix these issues? `fputs(bbs, msg)` would probably be good enough.

(the sw_switcheroo file needs similar treatment)

[2017-01-24 16:46] Lekensteyn commented on #834
This part from your bumblebee-bugreport looks worrying:
[code]

and from your syslog:
[code]

Can you try changing KernelDriver=nvidia-304 under `[driver-nvidia]`? Some auto-detection probably failed, but this is an easy workaround.

[2017-01-24 16:47] Lekensteyn commented on #826
`dmesg`

[2017-01-24 16:51] Lekensteyn commented on #832
Your laptop has a GTX 960M, this is a possible indication that you have one of the newer laptops for which the old PM method does not fully work. If you do not need optirun and just want to save power, I recommend using the nouveau driver. Since kernel 4.8 or so it should use a newer method that does save power.

See also https://github.com/Bumblebee-Project/bbswitch/labels/ACPI%20Power%20Resource

[2017-01-24 17:17] RobMokkink commented on #832
Powermanagement with the new nouveau driver doesn't work, i need to disable it by adding nouveau.runpm=0 on grub, otherwise my laptop completely freezes.

[2017-01-24 17:17] Lekensteyn commented on #828
Sounds like https://bugzilla.kernel.org/show_bug.cgi?id=156341

Unfortunately there is no solution yet, only a workaround. If not already, can you post to your tarball according to https://bugs.launchpad.net/lpbugreporter/+bug/752542?

[2017-01-24 17:18] Lekensteyn commented on #827
That is interesting, probably it is some ACPI event that is triggered. It should show in `dmesg`, can you check?

[2017-01-24 17:24] Lekensteyn commented on #832
See #764 for why

[2017-01-24 17:52] RobMokkink commented on #832
Thanks for your quick reply. I did a quick test and it looks like to work. I added the options wrong.

[2017-01-24 17:57] bluca commented on #834
Yes autodection always fails for me on Ubuntu too, it's due to how the drivers are packaged there. Explicitly setting the version fixes it.

[2017-01-24 18:45] skarmiglione commented on #749
For me too.

[2017-01-24 19:06] romanlex commented on #833
@Lekensteyn
this is not help :(
I think what if my xorg log is updating - Xorg successfully started. But bumblebee cannot connect to socket((
[code]

[2017-01-25 01:22] jpeacock29 commented on #834
I made that change and restarted, but get the same error nonetheless. Anything else I might try?

Here's the updated report...

[bumblebee-bugreport-20170124_202224.tar.gz](https://github.com/Bumblebee-Project/Bumblebee/files/728385/bumblebee-bugreport-20170124_202224.tar.gz)

[2017-01-25 02:50] jpeacock29 commented on #834
Made this change, but now get

    [  452.348598] [ERROR]Cannot access secondary GPU - error: [XORG] (EE)

    [  452.348695] [ERROR]Aborting because fallback start is disabled.

From syslog,

    [ERROR]X did not start properly

Any idea where to go from here, or should this be a new issue?

[bumblebee-bugreport-20170124_214511.tar.gz](https://github.com/Bumblebee-Project/Bumblebee/files/728516/b

[2017-01-25 05:16] ion-storm commented on #764
I got a ge62vr 6700hq with the 1060, all above settings did t work in grub, tried 2009-2015

[2017-01-25 23:57] bluca commented on #834
You have the modprobe problems due to multiple modules according to the log.
Given you are on Ubuntu 16.04, please try the testing PPA which has the patches to fix it:
https://launchpad.net/~bumblebee/+archive/ubuntu/testing?field.series_filter=xenial

[2017-01-26 09:47] aditiapratama commented on #827
@Lekensteyn umm could you please guide me how to do that?

[2017-01-26 12:59] Lekensteyn commented on #827
Open a Terminal (search for that application in your menu) and run the `dmesg` command (enter that command and press Enter).

To write it to a a file, you can use a command like `dmesg > dmesg.txt`. By default it is visible in your home directory.

[2017-01-26 14:25] romanlex commented on #833
@Lekensteyn can you know how I can still diagnose your problem? perhaps there are other diagnostic tools?

[2017-01-27 03:30] jpeacock29 commented on #834
Added the testing PPA and updated `/etc/bumblebee/bumblebee.conf` as before and everything is working great. Thanks so much for your help @bluca and @Lekensteyn!

For reference:
[code]

[2017-01-27 08:46] bluca commented on #834
No problem!

[2017-01-27 08:46] #834 closed

[2017-01-27 14:35] TiZ-EX1 commented on #769
I just tried it with `nvidia-378`.

`optirun -b none vulkaninfo`: http://paste.ubuntu.com/23874988
`DISPLAY=:8 optirun -b none vulkaninfo`: http://paste.ubuntu.com/23874993

vulkaninfo crashes on my system with DISPLAY=:8 set. `vulkaninfo: /build/vulkan-PwwbqY/vulkan-1.0.37.0+dfsg1/demos/vulkaninfo.c:978: AppDumpSurfaceFormats: Assertion '!err' failed.`

[2017-01-28 11:43] leon9923 commented on #749
@BaronBaleron could you please post the screen of the xorg nvidia file?

[2017-01-31 14:23] HugoPoi commented on #749
LinuxMint 18.1 (Xenial) - Asus U36JC, GT218M [GeForce 310M]
I need package `nvidia-340` (only this one supporting GeForce 310M) but depends on `xserver-xorg-legacy` so I do `sudo dpkg -r --force-all  xserver-xorg-legacy`
After reboot everything work !

[2017-02-04 03:34] zapot opened #841 "Bumblebee stopped working after upgrade to Slackware 14.2: card0: failed to set DRM interface version 1.4: Permission denied"
Hi,

Bumblebee worked well for me with Slackware 14.0, but after upgrading to a new Slackware 14.2, while everything seems to be installed properly I get the following error:

$ optirun glxgears
[ 3202.482729] [ERROR]Cannot access secondary GPU - error: [XORG] (EE) /dev/dri/card0: failed to set DRM interface version 1.4: Permission denied
[ 3202.482794] [ERROR]Aborting because fallback start is di

[2017-02-04 17:22] blamarche commented on #764
Workaround for msi gs43vr 6re (2016):
` acpi_osi=! acpi_osi="Windows 2009"`

[2017-02-05 21:04] qlixed commented on #692
Can we reopen this? I see that the bbswitch module is still not signed using the rpm install instructions from:
https://fedoraproject.org/wiki/Bumblebee
That instructions AFAIK are official, but with a new kernel install the bbswitch is not signed, I try to add to the dkms a script to sign the file, but apparently dkms POST_BUILD and PRE_INSTALL is not working as expected.
So I want to know if we

[2017-02-06 13:38] gsgatlin commented on #692
Yes. I would be open to changing the bbswitch rpm to facilitate this. I am just not sure how to go about it since I don't sign my "out of tree" modules myself up to this point.

[2017-02-06 16:02] qlixed commented on #692
Ok, I will work on this options and put a PR ASAP.

[2017-02-06 16:11] gsgatlin commented on #692
Ok. The package is not officially supported in fedora. The rpms are something I made back in fedora 16 because I needed bbswitch. The rpm spec is not in github. Perhaps I can add it to my area.

But here is what the spec file looks like. There are 3 problems I know about.

https://paste.fedoraproject.org/549951/48639718/

1. If we need to update it without also updating the "version" It breaks. :(

[2017-02-07 16:39] rokups commented on #577
I am interested in this as well. Is it in any way possible to run this with nvidia libgl installed? I am aware that bumblebee requires integrated GPU to use mesa libraries, however my main gpu is old nvidia card which freezes with noveau driver. Since i am not aware of bumblebee design could any of developers comment if it is in theory possible to get bumblebee working with nvidia libgl as main li

[2017-02-07 17:40] Lekensteyn commented on #577
@rokups You have both an integrated and discrete Nvidia GPU, or what is the situation? What is your goal?

[2017-02-07 18:10] rokups commented on #577
I have two discrete GPUs. One is used for passthrough for VM sometimes, one is used for host. Goal is to use bumblebee to start some 3d applications on VM GPU (when it is not in use by VM ofc) as it is more powerful.

[2017-02-07 18:24] ArchangeGabriel commented on #577
@rokups Not sure how much stronger is your second GPU, but Bumblebee has a very high overread (and even more without Primus, VirtualGL being the only likely to work setup for you), so this might a thing…

[2017-02-07 18:32] rokups commented on #577
Well it is gtx630 vs gtx1080 so.. I would still like to try. Why wouldnt primus work?

Also i got package installed and tried to start `optirun glxgears`. Strange thing happens. Log contains:
[code]
And i added `BusID  "PCI:5:0:0"` to `xorg.conf.nvidia`. It should be using that card. But later in the log:
[code]
Now that is my primary GPU. Naturally it fails:
[code]
Any idea whats going on here? A

[2017-02-07 18:35] Lekensteyn commented on #577
@rokups I don't think that Bumblebee is appropriate for your scenario. You presumably still have video outputs on your more powerful GPU. One option is then to plug in your monitor in that GPU. It will be a more pleasant experience than Bumblebee I think. Bumblebee currently relies on unloading modules to unbind the driver from the GPU device. If both your primary and secondary GPUs use the same d

[2017-02-07 18:39] rokups commented on #577
Still does not sound like impossible task. Currently i am using a shellscript that binds driver to the card, starts X, after X quits it binds `vfio-pci` driver to the card. Nothing that cant be done with some bumblebee patching i guess.

[2017-02-08 11:39] andrewwakeling commented on #764
Workaround with Alienware 13 R3 (GTX1060 with OLED):
`acpi_osi=! acpi_osi="Windows 2009"`

My issue was when I was using the discrete "intel" and running either the "lspci" or "lshw" command would freeze the computer.

[2017-02-08 22:18] dzhu opened #842 "optirun working but external display not detected"
I have a Thinkpad W530 running Ubuntu 16.04, and I'm trying to get an external display working on the VGA port, which is connected to the Nvidia card. Right now, running programs with `optirun` works, but connecting the VGA cable and running `intel-virtual-output` does nothing for the outputs available to `xrandr`; similarly, running `xrandr -d :8` shows no outputs. `nvidia-xconfig` shows the disp

[2017-02-10 16:35] zsibit opened #843 "Opencl not working without bumblebee"
Hi, there is a dual GPU (intel + nvidia) notebook.
- Why not available the intel's opencl dirver without "optirun" or "primusrun" command (for "clinfo" + other applications)?

- Opencl with "optirun" command:
**~$ optirun clinfo --human**
Number of platforms                               2
  Platform Name                                   NVIDIA CUDA
  Platform Vendor

[2017-02-10 21:42] Steven-- commented on #764
On Asus N501VW  the workaround: acpi_osi=! acpi_osi="Windows 2009" works with kernel  4.7.0 but fails with kernel 4.9.0.

[2017-02-12 10:43] JohnOShock commented on #810
I'm using a laptop with an Nvidia 940M optimus... was using Bumblebee to switch but after upgrading the kernel to 4.8 and later 4.9 I experienced crashes .... poor start up and shutdown times... all of which stopped when I revert back to using the intel card only with Nouveau.. I am on openSUSE Tumbleweed. Someone suggested I use the proprietary driver only 375.26 with PRIME but it did not really

[2017-02-14 08:39] bondar-pavel commented on #193
@ThisNameWasFree I have the same issue with another application. Did you find a solution?

[2017-02-15 21:13] pronobis commented on #764
The only workaround that works for Dell  XPS 15 9560 (KabyLake) with i7-7700HQ is acpi_osi=! acpi_osi="Windows 2009". The problem is that the touchpad stops working then.

[2017-02-16 14:17] kronat commented on #764
Hi, I have a XPS 15 9560 but I don't have any freeze without the boot parameters for ACPI. However, the NVIDIA driver can't be loaded:

               NVRM: A - Supported NVIDIA GPU Products' in this release's
               NVRM: README, available on the Linux driver download page
               NVRM: at www.nvidia.com.
[ 8620.796068] nvidia: probe of 0000:01:00.0 failed with error -1
[ 8620.7961

[2017-02-16 17:21] TheElectronWill commented on #764
@kronat "Hi, I have a XPS 15 9560 but I don't have any freeze"
I think you should report a different issue then.

[2017-02-16 17:30] kronat commented on #764
@TheElectronWill probably you are right, however I just added my experience since I have the same laptop model without asking for a solution on my problem.

[2017-02-16 17:49] TheElectronWill commented on #764
@kronat all right :-)

[2017-02-16 19:38] pronobis commented on #764
@kronat The fact that the nvidia driver is not loaded probably saves you from the freeze.

[2017-02-17 06:15] toastal commented on #764
I've followed this thread for a while. After changing the usual GRUB lines I got my machine to boot, but when trying to run even `glxgears` is get this issue. My Google search has just led me to Ubuntu forums where people didn't have the drivers installed properly. Any idea?

[code]

[2017-02-17 12:04] vrobolab commented on #764
Could anyone describe in detail which is the difference between "windows 2009" and "windows 2015"? Thanks in advance.

[2017-02-17 12:05] eXt73 commented on #829
;) Try my APM 5.2 [Advanced Power&Performance managment] ... working great with my build od bumble ;) > www.netext73.pl

[2017-02-17 17:12] innocenat commented on #777
I also have this problem. GT940M, Bumblebee v3.2.1-96, nvidia-375 (375.39), Ubuntu 16.04.

Before this I was using nvidia-367, and it would fail after resume, but the driver won't be loaded. Now it is loaded and stuck (bbswitch is ON), but it won't work. Basically same as describe here.

Other info are the same as posted here. Updated BIOS, Fast Boot and Secure Boot disabled.

[2017-02-17 17:50] kikislater commented on #764
Not an explanation of 2009 vs 2015 but good to know :
https://wiki.archlinux.org/index.php/DSDT

[2017-02-17 18:45] kronat commented on #764
@pronobis right, if I disable the PCIe power management I have the freeze. Adding the boot parameters, as described, saves me from the hard lock, and I'm able also to switch it on/off and correctly use optirun. XPS 15 9560

[2017-02-17 18:46] pronobis commented on #764
@kronat yes, but then the touchpad stops working for me. Does it work for you?

[2017-02-17 18:48] kronat commented on #764
@pronobis worse than before, but it works. It is not precise, but I can move the pointer.

[2017-02-17 19:05] kronat commented on #764
@pronobis Sorry for the double comment, but I've de-codified the DSDT, and there is the name "Linux" inside, for the ACPI. Would you mind trying to boot with the kernel parameter

? Thank you.

[2017-02-18 18:28] hlolli commented on #824
Any solutions yet?

Im getting the same problem after some fedora updates, Im on Fedora 25 with NVIDIA v375.26 on kernel 4.8.14-300. Bumblebee installs on my computer successfully just as described by soamaven.

[2017-02-19 00:12] shantanu-vyas opened #844 "Bumblebee Install Pegging Cores"
I installed the non-free nvidia bumblebee drivers today and upon restarting noticed my computer would instantly peg all 8 cores and the core temp got extremely hot (95c idle at 40). I looked into it and it was bumblebee using gcc to build something. I think the installer might request all avail cores and caused this to happen.

[2017-02-19 00:17] andrislusis commented on #764
Aorus X3 plus V5 also has the issue. `acpi_osi=! "acpi_osi=Windows 2009"` helps.

[2017-02-19 12:41] bluca commented on #844
Depending on the platform and the drivers packaging, the out-of-tree proprietary nvidia kernel modules might only get compiled by DKMS for your running kernel the first time they are loaded at boot.
I can't think of anything else that would cause bumblebee to run gcc at boot.

In any case it's not really anything to do with bumblebee, if you were running on a desktop computer the same thing would

[2017-02-19 12:55] gsgatlin commented on #844
Is this on the fedora or CentOS / RHEL distributions? If so it is caused by bumblebee-nvidia service and only happens when a new kernel update happens or after a fresh install of bumblebee-nvidia rpm. This is caused by nvidia installer program.

[2017-02-19 19:15] shantanu-vyas commented on #844
Yeah that was it sorry I forgot to mention, it was after a kernel update Fedora 25. It just took me by surprise that my cores went up to 95c~ during the installer.

[2017-02-19 22:24] pet89 commented on #580
little angel, you're closing the issue but it is the first google result for "failed set drm cannot access secondary GPU" ... you're very embarassed by other conditions than
Ubuntu 14.04
NVIDIA Corporation GF108M [GeForce GT 630M](rev a1)
Nvidia 331 driver
ah i understand little angel computers are like biological systems, we have to calm down the patients :)

[2017-02-22 03:57] sudhirkhanger commented on #153
Bumblebee seems to be broken.

[code]

[2017-02-22 09:12] gsgatlin commented on #153
Hi. I have a new version of the driver package I will push out as soon as I get to work today.bumblebee-nvidia-375.39-1.fc25.x86_64. Will post here when its staged.

[2017-02-22 16:13] gsgatlin commented on #153
Ok. I think you should be able to dnf update to the new version now. Does that help?

[2017-02-23 08:08] ThisNameWasFree commented on #193
Some years past. As I remember there were 2 bugs:

1. I tried to use discrete card without AC/DC power, only with my laptop battery. It was bad Idea because discrete card won't start without extra power from the network.
2. I didn't install lib32 for some packets so it didn't work with x32 programs.

[2017-02-23 08:09] sudhirkhanger commented on #153
Hi @gsgatlin, thanks it's working just fine now.

[2017-02-23 08:15] sudhirkhanger commented on #153
dracut-install: Failed to find module '' /lib/modules/4.9.10-200.fc25.x86_64//kernel/drivers/misc/.nvidia_installed

Would you know that that means?

    4.9.10-200.fc25.x86_64

[2017-02-23 08:30] bondar-pavel commented on #193
Thanks @ThisNameWasFree.
By the way I have found solution for the problem I had with the error:

[code]

It turns out that answer is already in arch wiki:
[code]
https://wiki.archlinux.org/index.php/Bumblebee#Fatal_IO_error_11_.28Resource_temporarily_unavailable.29_on_X_server

[2017-02-23 15:26] gsgatlin commented on #153
Yeah. Let me see if I can use a different path to fix that. Did you see that in the logs?

[2017-02-23 16:08] sudhirkhanger commented on #153
I saw that when I ran `dravut -fv`. Although Bumblebee seems to run fine.

[2017-02-23 16:38] anujsrc opened #846 "Bumblebee stable ppa missing a release file on Ubuntu 16.04"
* **OS**: Ubuntu-16.04
* **Kernel**: 4.4.0-62-generic

After adding ``ppa:bumblebee/stable`` ``sudo apt update`` complains for a missing release file-
[code]

[2017-02-23 16:51] bluca commented on #846
The version in the Xenial repository is more up to date, so not only there's no point but it would arguably be a regression to add a build on the stable PPA for 16.04.

If you want a more up to date version give a shot to the testing PPA:

https://launchpad.net/~bumblebee/+archive/ubuntu/testing

Despite the name it's pretty stable, and all the fixes queued for the next release are there. It's als

[2017-02-23 16:53] anujsrc commented on #846
Thanks @bluca - I will continue with the testing one.

[2017-02-23 16:53] #846 closed

[2017-02-26 23:19] sozforex commented on #824
I had very similar (possibly same) problem on Gentoo. I solved it by adding my user to the "video" group.

[2017-02-27 03:56] ziflex opened #847 "primusrun stopped working on 4.9.11"
Hey guys,

I'm using Fedora 25 and after latest kernel update ```primusrun``` stopped working.

[code]
```optirun``` works though.

I guess it's not a direct issue of Bumblebee but, maybe you have thoughts how to fix it.

[2017-02-27 22:00] gsgatlin commented on #847
This should be fixed in
bumblebee-nvidia-375.39-2 or bumblebee-nvidia-3.0-3 (un-managed)

It can be dnf updated beginning now. Did upgrading fix the problem?

[2017-02-27 22:36] ziflex commented on #847
@gsgatlin yes, it's totally fixed! Thanks!

[2017-02-27 22:36] #847 closed

[2017-02-28 04:17] sudhirkhanger commented on #153
@gsgatlin It has started failing again.

[code]

[code]

[2017-02-28 08:12] gsgatlin commented on #153
Hi. Sorry. Did you try updating to bumblebee-nvidia-375.39-2.fc25.x86_64 ? It has the new selinux policy module that fixes module loading. I just pushed that out yesterday afternoon.

[2017-02-28 09:32] sudhirkhanger commented on #153
Hi, that version also fails.

    bumblebee-nvidia-375.39-2.fc25.x86_64

[code]

[2017-02-28 10:51] gsgatlin commented on #153
@sudhirkhanger  Can you pastebin.com  or paste.fedoraproject.org or similar sites the contents of /var/log/nvidia-installer.log ?

Thanks.

[2017-02-28 11:41] sudhirkhanger commented on #153
https://paste.fedoraproject.org/paste/CTMSO830aNUMzlKn8WEW5l5M1UNdIGYhyRLivL9gydE=

Here. Thanks.

[2017-02-28 13:23] gsgatlin commented on #153
It doesn't seem to be able to load the module. Does making the machine SELINUX=permissive in /etc/selinux/config and rebooting help at all?

[2017-02-28 14:47] rupek1995 commented on #810
I still get this error:

`ERROR: Unable to find the kernel source tree for the currently running kernel.  Please make sure you have installed the kernel source files for your
       kernel and that they are properly configured; on Red Hat Linux systems, for example, be sure you have the 'kernel-source' or 'kernel-devel' RPM
       installed.  If you know the correct kernel source files are install

[2017-02-28 15:24] gsgatlin commented on #810
@rupek1995 Do you have the kernel-devel package installed and is it the same version as your running kernel? (uname -r)

[2017-02-28 16:01] akiross commented on #153
@sudhirkhanger @gsgatlin the issue was with selinux, check [this bug](https://bugzilla.redhat.com/show_bug.cgi?id=1426741).

On a separated issue, @gsgatlin, is it fine to report here issues related to bumblebee-related RPM packages or is your repo a better choice?

[2017-02-28 16:24] seekermoc commented on #810
For some reason lately Fedora has been installing with kernel-debug-devel instead of kernel-devel and when you try to install kernel-devel it will say it's already installed. You need to remove the debug one first, then install the normal debug.On Feb 28, 2017 7:24 AM, gsgatlin <notifications@github.com> wrote:@rupek1995 Do you have the kernel-devel package installed and is it the same version as

[2017-02-28 16:54] sudhirkhanger commented on #153
[code]
-
[code]
-
[code]
-
[code]
-
[code]

[/var/log/nvidia-installer.log](https://paste.fedoraproject.org/paste/QBerdccUv5E~19BrAFh9W15M1UNdIGYhyRLivL9gydE=/)

Still doesn't work with latest policy. I will try with the permissive mode tomorrow. @akiross @gsgatlin

[2017-03-01 00:18] rupek1995 commented on #810
There was a kernel update after my post, I updated it, managed to successfully download the kernel-devel for my kernel, Nvidia driver unpacks... but now installation prints out an error like this:

`> -> Kernel module compilation complete.

[2017-03-01 13:44] bammitzb commented on #764
Tuxedo XC1706 (aka Schenker XMG P706 aka Clevo P671RG) (i7-6700HQ/GTX 970M) also has the issue (running Gentoo) - `acpi_osi=! acpi_osi=Linux acpi_backlight=vendor` works for me, including getting all fn keys to work (though flightmode key seems to only turn off bluetooth). I also have to use `pcie_port_pm=off` since I upgraded the kernel to 4.9.6 - otherwise bbswitch won't work. However, after doi

[2017-03-01 18:43] kivson opened #848 "Performance: Bumblebee vs Discrete Only [Discussion]"
Hi,

I'm going to buy a computer, and I have the option to buy one with the option to disable Optimus in the BIOS. I would like to know if someone has to share some performance comparisons between using Bumblebee and using the discrete card (Optimus BIOS disabled).

I understand that Bumblebee could be faster since the dedicated card will only be used for specific tasks, not for the entire desktop

[2017-03-02 02:23] sudhirkhanger commented on #153
Hi just wanted to let you know that it works for me too now. Looking at that bug report it seems the new selinux policy package was a botched release.

[2017-03-04 02:43] orodbhen commented on #785
Same problem here. This indeed fixed it:

    mv /usr/share/X11/xorg.conf.d/20-intel.conf /etc/X11/xorg.conf.d/

However, could you please explain why having the file under `/usr/share` broke it? I hate mysteries.

I created this file to make the Intel GPU work with Vulkan. I tried putting it in `/etc/X11/xorg.conf`, but that file kept getting renamed at login. I masked `gpu-manager.service`, so I

[2017-03-04 21:03] ArchangeGabriel commented on #785
@orodbhen /usr/share/X11/xorg.conf.d is used by both the “standard” X server (the one handling your desktop, etc.) and the Bumblebee X server (the one started on request to handle the Nvidia card), while /etc/X11/xorg.conf.d/ is only used by the standard one.

Having a file specifying things regarding the Intel GPU is an issue for the Bumblebee X server that does only contains the Nvidia GPU.

[2017-03-05 00:58] orodbhen commented on #785
@ArchangeGabriel Perfect, thanks.

[2017-03-05 21:38] jmfernandez commented on #841
Maybe is unrelated. I'm using a completely different system, Gentoo, but I ran in the same issue when I upgraded Xorg server. After some debugging, I tried running secondary Xorg server by hand, and I found secondary Xorg was unsuccessfully loading kbd module (which was not recompiled in the upgrade):

Xorg: symbol lookup error: /usr/lib64/xorg/modules/input/kbd_drv.so: undefined symbol: AddEnable

[2017-03-05 21:42] jmfernandez commented on #824
Maybe it is unrelated, but as I have answered in #841 I had the same issue, and it was due an Xorg input driver which was failing to load due a symbol error lookup from the dynamic linker (it was not easy to realize what was happening)

[2017-03-05 21:56] gsgatlin commented on #824
@hlolli Can you post the /var/log/Xorg.8.log and the output from journalctl to a site like pastebin http://pastebin.com/ or https://paste.fedoraproject.org/ links to the two logs. Th error message is a bit of a false error message from what I have been told. Sorry I missed this issue becoming active again. I think you have totally different problem then the original poster.

[2017-03-05 21:59] hlolli commented on #841
Isn't kbd_drv = keyboard module, can't see that this could be related, only based on common sense (which doesn't always hold true of course). But I'd like to hear what some bumblebee contibutor says about this.

[2017-03-05 22:07] hlolli commented on #824
xorg log: http://pastebin.com/ZG1b9gNE
starting glxgears with optitun and resulting journalctl: http://pastebin.com/EBycvy1Q

I see now referenced to mouse and keyboard, I made a noise on other ticket that its immplausible, but now I think it's not, lol.

[2017-03-05 22:07] jmfernandez commented on #841
Sorry, I did not explain the whole scenario. Just after the symbol lookup error is emitted, Xorg server dies with exit code 127.

So, the problem was not in bumblebee, but affects it due the way bumblebee works: it spawns the secondary Xorg server instance, and it complains when the server unexpectedly dies (as it has to).

[2017-03-05 22:23] gsgatlin commented on #824
One thing I notice is that your kernel command line is missing the parts about nouveau.modeset=0 rd.driver.blacklist=nouveau

Here is what mine looks like:

X.Org X Server 1.19.1
Release Date: 2017-01-11
[ 94270.558] X Protocol Version 11, Revision 0
[ 94270.558] Build Operating System:  4.10.0-0.rc4.git0.2.fc26.x86_64
[ 94270.558] Current Operating System: Linux t540p.eos.ncsu.edu 4.9.13-200.fc25

[2017-03-05 22:50] hlolli commented on #824
@gsgatlin Sharp eyes!

the blacklist statement was already there in `/etc/default/grub` but I had forgotten to run grub2-mkconfig. So I did that for EFI. And as of now I'm still getting the same bug, but Im going to try to update the kernel asap.

Here's Xorg log with the correct blacklist. I'll update after I update the kernel (1-3 days).

http://pastebin.com/8LdUwv0g

[2017-03-06 02:51] danielteichman commented on #759
http://danielteichman.blogspot.com/2017/03/how-to-install-bumblebee-on-ubuntu-1604.html

Thanks!

[2017-03-06 07:33] YappyYellowYak commented on #841
Confirmed in fedora 25

[2017-03-06 14:50] hassec commented on #836
Hi,
I have been browsing a little to understand how bumblebee works in general, and noticed that, if I am not mistaken, this issue was fixed by #838, right?

Hopefully I can contribute in a more meaningful way soon, but I figured I would mention it as the issue has been open for a while 😄

[2017-03-06 15:49] gsgatlin commented on #841
@YappyYellowYak Can you open a new issue about the problems you are having in fedora 25? Thanks. Once a new issue is opened maybe we can figure out what has gone wrong on your machine.

[2017-03-06 17:52] Kinkypeter commented on #841
Who supplies your nvidia driver?

On 03/06/2017 08:49 AM, gsgatlin wrote:

[2017-03-06 20:23] zapot commented on #841
Hi, original poster here.

I solved the problem on my side. The issue was with an incompatible mix of versions of the various packages. After a lot of fiddling I found a combination of versions which work.

To note is that I followed some of the (general) instructions provided, and that combination of package versions did _not_ work. I looked for a combination of versions released roughly in the s

[2017-03-07 11:25] tobiasBora opened #849 "Debian sid: Cannot access secondary GPU - error: Could not load GPU driver"
Hello,

First thank you for your job. I'm running debian sid, and I have a computer with an optimus NVIDIA Geforce 840M:

    04:00.0 3D controller: NVIDIA Corporation GM108M [GeForce 840M] (rev a2)

I tried to install bumblebee in order to have CUDA on blender. Here is how I installed it:

    $ sudo apt-get install bumblebee-nvidia primus primus-libs:i386 nvidia-cuda-dev

I also added myself to

[2017-03-07 11:58] bluca commented on #849
Did the install of bumblebee-nvidia install the nvidia-driver packages as well? Do you have by any chance the install-recommends functionality of apt-get turned off?

[2017-03-07 11:59] bluca commented on #849
And bbswitch too should have been installed

What's the output of ```sudo dkms status```

[2017-03-07 12:03] tobiasBora commented on #849
Thank you for your help. nvidia-driver has indeed been installed, here is the result of dkms status:

    $ sudo dkms status
    bbswitch, 0.8: added
    nvidia-current, 375.39: added

    leo@leodeb:~$ sudo apt-cache policy nvidia-driver
    nvidia-driver:
      Installé : 375.39-1
      Candidat : 375.39-1
     Table de version :
     *** 375.39-1 500
            500 http://ftp.fr.debian.org/deb

[2017-03-07 12:04] tobiasBora commented on #849
By the way I'm currently upgrading my system because I'm wondering if there is not a clash between my current kernel version 4.9.0-1-amd64 and the last kernel version 4.9.0-2-amd64.

[2017-03-07 13:03] bluca commented on #849
The problem is that the module is added but not installed. Did something go wrong when you ran apt-get install? Did you have the kernel headers package installed?

Run:

[code]

[2017-03-07 14:20] tobiasBora commented on #849
I updated my system, my kernel, and when I ran your two commands, I got something like "Already installed". But after a reboot, I can know run ```optirun blender``` ! So first thank you for making optirun working for me.

There is however another problem: even when I (opti)run blender, I cannot set in the user preferences "GPU", the only option I have is "CPU"... Do you know what I could do to mak

[2017-03-07 14:28] bluca commented on #849
Sorry, I am not familiar with Blender.

If you install the mesa-utils package and run:

```optirun glxgears -info```

and it shows that it's running on the Nvidia card, that means bumblebee itself is working.

[2017-03-08 01:57] bhashithe commented on #567
@mpeterson2 im having the same problem, my laptop is alsoo overheating. I suspect thats because of the GPU module is not loading correctly. Im going to try and load the other kernel and see

[2017-03-08 02:06] tobiasBora commented on #849
It's now working, thank you very much for your help ! (I just need to install nvidia-cuda-toolkit to have cuda now)

[2017-03-08 02:06] #849 closed

[2017-03-08 13:05] Kinkypeter commented on #849
I think this might have to do with some changes to the LSB rules and
grub2 and how it reads the name of the kernel image. I know I have a
machine that I reloaded the system because it would not load the latest
nvidia driver. This machine is a desktop. They updated the driver that
is now the long term supported driver and it was also when there was a
kernel patch to 4.10. I thought I had screwed up

[2017-03-08 13:59] Kinkypeter commented on #849
Wow, I will have to check this as well on my systems when I get home as
I think on both my laptop and the desktop were having that problems with
the video driver not loading that is.  I had just done a reinstall with
my laptop and gotten by the "Oh no, error" when Gnome tries to boot
after the HUGE update the machine goes through after  I loaded Centos
7.3:1611 by switching to MATE. I'll be home s